In [1]:
import pandas as pd
from D2Ltools import extract_D2L_assigns, extract_D2L_usernames
from D2Ltools import extract_D2L_OrgIDs
from wptools import extract_wp_assigns, extract_wp_names
from fuzzytools import match_list
from gooey import Gooey
from gooey import GooeyParser

In [2]:
wp_csv = 'WP.csv'
D2L_csv = 'D2L.csv'

In [3]:
#df = pd.read_csv(D2L_csv, skipinitialspace=True, skipfooter=2, engine='python')
df2 = pd.read_csv(D2L_csv)

d2l_username_lst = df2['Username'].tolist()
#d2l_username_lst = [ a.strip('#') for a in d2l_username_lst ]
#d2l_username_lst
df2.head()

,OrgDefinedId,Username,Last Name,First Name,Email,Section,MachineShop Lab Grade Points Grade <Numeric MaxPoints:100 Weight:100 Category:Lab: Machine Shop CategoryWeight:25>,Lab: Machine Shop Subtotal Numerator,Lab: Machine Shop Subtotal Denominator,3D Printing Safety Quiz Points Grade <Numeric MaxPoints:10 Weight:10 Category:Lab: MakerSpace CategoryWeight:17>,...,Welding Quiz Points Grade <Numeric MaxPoints:5 Weight:454.54545454 Category:In class CategoryWeight:5>,Syllabus Quiz Points Grade <Numeric MaxPoints:1 Weight:90.9090909 Category:In class CategoryWeight:5>,Coefficent of Thermal Expansion Quiz Points Grade <Numeric MaxPoints:4 Weight:363.63636364 Category:In class CategoryWeight:5>,In class Subtotal Numerator,In class Subtotal Denominator,Calculated Final Grade Numerator,Calculated Final Grade Denominator,Adjusted Final Grade Numerator,Adjusted Final Grade Denominator,End-of-Line Indicator
0,#G00799208,#ian.dalton,Dalton,Ian,ian.dalton@pcc.edu,ENGR-262-0-14590 - Manufacturing Processes,NaN,NaN,NaN,NaN,...,NaN,1.0,4.0,5.0,5.0,5.0,5.0,NaN,NaN,#
1,#G01133753,#chris.kristensen,Kristensen,Chris,chris.kristensen@pcc.edu,ENGR-262-0-14589 - Manufacturing Processes,NaN,NaN,NaN,NaN,...,NaN,1.0,4.0,5.0,5.0,13.0,13.0,NaN,NaN,#
2,#G01169411,#collin.klas,Klas,Collin,collin.klas@pcc.edu,ENGR-262-0-10649 - Manufacturing Processes,NaN,NaN,NaN,NaN,...,NaN,1.0,4.0,5.0,5.0,5.0,5.0,NaN,NaN,#
3,#G01691840,#rudy.avalon,Avalon,Rudy,rudy.avalon@pcc.edu,ENGR-262-0-13487 - Manufacturing Processes,NaN,NaN,NaN,NaN,...,NaN,1.0,4.0,5.0,5.0,5.0,5.0,NaN,NaN,#
4,#G01918139,#titus.wilburn,Wilburn,Titus,titus.wilburn@pcc.edu,ENGR-262-0-10649 - Manufacturing Processes,NaN,NaN,NaN,NaN,...,NaN,1.0,3.5,4.5,5.0,4.5,5.0,NaN,NaN,#

In [4]:
df = pd.read_csv(wp_csv, skipinitialspace=True, skipfooter=1, engine='python')
df.insert(0, 'wp_name', df['First Name']+ ' ' + df['Last Name'])
wp_name_lst = df['wp_name'].tolist()
#wp_name_lst

In [5]:
wpname2d2lusername_dict = match_list(wp_name_lst,d2l_username_lst)
#wpname2d2lusername_dict

 MOHAMMED ALBELADI  =  #mohammed.albeladi      % match = 100
 MOHAMMED ALKHALDI  =  #mohammed.alkhaldi3      % match = 97
 NAYEF ALOTAIBI  =  #nayef.alotaibi      % match = 100
 SERGIO AMADOR  =  #sergio.amador      % match = 100
 RUDY AVALON  =  #rudy.avalon      % match = 100
 MATTHEW AYER  =  #matthew.ayer      % match = 100
 ANDREW BOSAK  =  #andrew.bosak      % match = 100
 DESTRY BRAMMER  =  #destry.brammer      % match = 100
 SOPHIA CATHERICK  =  #sophia.catherick      % match = 100
 OSCAR CISNEROS  =  #oscar.cisneros      % match = 100
 CHRISTOPHER DAHLEN  =  #christopher.dahlen      % match = 100
 IAN DALTON  =  #ian.dalton      % match = 100
 COREY ECK  =  #corey.eck      % match = 100
 YAHYE EGAL  =  #yahye.egal      % match = 100
 SAM FISHER  =  #sam.fisher1      % match = 95
 TY FITZGERALD  =  #ty.fitzgerald      % match = 100
 ANGELE GRENIER  =  #angele.grenier      % match = 100
 GUS HART  =  #gus.hart      % match = 100
 MATTHEW HARVEY  =  #matthew.harvey      % match = 100
 KYLE HOLEWINSKI  =  #kyle.holewinski      % match = 100
 TRAVIS KIRCHEM  =  #travis.kirchem      % match = 100
 COLLIN KLAS  =  #collin.klas      % match = 100
 SIRINAPA KOSEYAYOTHIN  =  #sirinapa.koseyayothin      % match = 100
 CHRIS KRISTENSEN  =  #chris.kristensen      % match = 100
 PHU LE  =  #phu.le4      % match = 92
 RODOLFO LOPEZ PEREZ  =  #rodolfo.lopezperez      % match = 97
 AHMED MAHDI  =  #ahmed.mahdi      % match = 100
 ALAN MANZANO  =  #alan.manzano      % match = 100
 ROBERT MULKEY  =  #robertc.mulkey      % match = 96
 ALFREDO OLVERA CHAVEZ  =  #alfredo.olverachavez      % match = 98
 DUNG PHUONG  =  #dung.phuong      % match = 100
 BETSY RUTH QUITUGUA  =  #betsy.quitugua      % match = 95
 SOLOMON REID  =  #solomon.reid      % match = 100
 RYAN REUTER  =  #ryan.reuter1      % match = 96
 NESTOR ROBLES  =  #nestor.robles      % match = 100
 RUBEN ROSALES PALMA  =  #ruben.rosalespalma      % match = 97
 NATHAN SAUVE  =  #nathan.sauve      % match = 100
 KEVIN SISAVIC  =  #kevin.sisavic      % match = 100
 RICHARD SITNIK  =  #richard.sitnik      % match = 100
 NIKOLAS STANEK  =  #nik.stanek      % match = 83
 SERGEY SVINSITSKIY  =  #sergey.svinsitskiy      % match = 100
 HIEP TANG  =  #hiep.tang      % match = 100
 DUC TRAN  =  #duc.tran7      % match = 94
 MARC WASSERMAN  =  #marc.wasserman      % match = 100
 JOSEPH WHOM  =  #joseph.whom      % match = 100
 TITUS WILBURN  =  #titus.wilburn      % match = 100
 CHASE ZIELINSKI  =  #chase.zielinski      % match = 100

In [6]:
#df['D2L_username'] = df['wp_name'].map(wpname2d2lusername_dict)
df.insert(0, 'Username', df['wp_name'].map(wpname2d2lusername_dict))

In [7]:
#df.head()

In [8]:
d2l_username_to_orgid_dict = dict(zip(df2['Username'],df2['OrgDefinedId']))
#d2l_username_to_orgid_dict

In [9]:
df.insert(0, 'OrgDefinedId', df['Username'].map(d2l_username_to_orgid_dict))
df.head()

,OrgDefinedId,Username,wp_name,First Name,Last Name,Email,Course name,Class-section name,Date,Overall Score (%),...,Homework 10 - Ch 10,Homework 4 - Ch 4 Version 2,Homework 3 - Ch 3,Homework 2 - Ch 2,Homework 1 - Ch 1,Homework 9 - Ch 9,Homework 8 - Ch 8,Homework 7 - Ch 7,Homework 6 - Ch 6,Homework 4 - Ch 4
0,#G03827779,#mohammed.albeladi,MOHAMMED ALBELADI,MOHAMMED,ALBELADI,albeladima@gmail.com,"Fundamentals of Modern Manufacturing, 6e","CRN 10649, 13487, 10649, 13487",02-01-2018,95%,...,Grades Not Released,10,11.0,6.0,7.3,5.5,5.0,5.0,15.0,7
1,#G03925734,#mohammed.alkhaldi3,MOHAMMED ALKHALDI,MOHAMMED,ALKHALDI,mohammed.alkhaldi3@pcc.edu,"Fundamentals of Modern Manufacturing, 6e","CRN 10649, 13487, 10649, 13487",02-01-2018,95%,...,Grades Not Released,8,11.0,5.0,8.0,6.0,6.0,5.0,15.0,7
2,#G03829508,#nayef.alotaibi,NAYEF ALOTAIBI,NAYEF,ALOTAIBI,nayef.alotaibi@pcc.edu,"Fundamentals of Modern Manufacturing, 6e","CRN 10649, 13487, 10649, 13487",02-01-2018,60%,...,Grades Not Released,0,10.0,4.1,4.3,0.0,4.6,4.0,13.0,6
3,#G03534118,#sergio.amador,SERGIO AMADOR,SERGIO,AMADOR,sergio.amador@pcc.edu,"Fundamentals of Modern Manufacturing, 6e","CRN 10649, 13487, 10649, 13487",02-01-2018,92%,...,Grades Not Released,9,10.0,6.0,8.0,5.0,6.0,5.0,15.0,5
4,#G01691840,#rudy.avalon,RUDY AVALON,RUDY,AVALON,rudy.avalon@pcc.edu,"Fundamentals of Modern Manufacturing, 6e","CRN 10649, 13487, 10649, 13487",02-01-2018,96%,...,Grades Not Released,9,11.0,6.0,9.0,5.5,6.0,5.0,14.3,6

In [10]:
df['OrgDefinedId'] = df['OrgDefinedId'].map(lambda x: x.lstrip('#'))
df['Username'] = df['Username'].map(lambda x: x.lstrip('#'))
cols_to_drop_lst = ['wp_name','First Name','Last Name','Email', 'Course name', 'Class-section name', 'Date', 'Overall Score (%)']
     #df.drop(df.columns[cols_to_drop_lst], axis=1, inplace=True)
     #df.drop(columns=['wp_name','First Name','Last Name','Email', 'Course name', 'Class-section name', 'Date', 'Overall Score (%)'])
df.drop(cols_to_drop_lst, axis=1, inplace=True)
col_name_lst = df.columns.values.tolist()
col_to_remove_lst = [c for c in col_name_lst if '*' in c]
df.drop(col_to_remove_lst, axis=1, inplace=True)
#col_to_remove_lst
#df.head()

In [11]:
d2l_assings_lst = extract_D2L_assigns(D2L_csv)
#d2l_assings_lst

D2L column headers =  ['OrgDefinedId', 'Username', 'Last Name', 'First Name', 'Email', 'Section', 'MachineShop Lab Grade Points Grade <Numeric MaxPoints:100 Weight:100 Category:Lab: Machine Shop CategoryWeight:25>', 'Lab: Machine Shop Subtotal Numerator', 'Lab: Machine Shop Subtotal Denominator', '3D Printing Safety Quiz Points Grade <Numeric MaxPoints:10 Weight:10 Category:Lab: MakerSpace CategoryWeight:17>', 'Laser Cutting Safety Quiz Points Grade <Numeric MaxPoints:10 Weight:10 Category:Lab: MakerSpace CategoryWeight:17>', 'Phone Stand STL Points Grade <Numeric MaxPoints:15 Weight:15 Category:Lab: MakerSpace CategoryWeight:17>', 'XY Table Concept Proposal Points Grade <Numeric MaxPoints:25 Weight:25 Category:Lab: MakerSpace CategoryWeight:17>', 'Portfolio Points Grade <Numeric MaxPoints:40 Weight:40 Category:Lab: MakerSpace CategoryWeight:17>', 'Lab: MakerSpace Subtotal Numerator', 'Lab: MakerSpace Subtotal Denominator', 'Tour 1 - Attendance Points Grade <Numeric MaxPoints:10 Weight:312.5 Category:Lab: Tours CategoryWeight:8>', 'Tour 2 - Attendance Points Grade <Numeric MaxPoints:10 Weight:312.5 Category:Lab: Tours CategoryWeight:8>', 'Tour 1 - Write Up Points Grade <Numeric MaxPoints:10 Weight:312.5 Category:Lab: Tours CategoryWeight:8>', 'Tour 2 - Write Up Points Grade <Numeric MaxPoints:10 Weight:312.5 Category:Lab: Tours CategoryWeight:8>', 'Lab: Tours Subtotal Numerator', 'Lab: Tours Subtotal Denominator', 'Homework 1 - Ch 1 Points Grade <Numeric MaxPoints:6 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 2 - Ch 2 Points Grade <Numeric MaxPoints:13 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 3 - Ch 3 Points Grade <Numeric MaxPoints:7 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 4 - Ch 4 Points Grade <Numeric MaxPoints:7 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 6 - Ch 6 Points Grade <Numeric MaxPoints:15 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 7 - Ch 7 Points Grade <Numeric MaxPoints:5 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 8 - Ch 8 Points Grade <Numeric MaxPoints:6 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 9 - Ch 9 Points Grade <Numeric MaxPoints:6 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 10 - Ch 10 Points Grade <Numeric MaxPoints:4 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 11 - Ch 11 Points Grade <Numeric MaxPoints:7 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 12 - Ch 12 Points Grade <Numeric MaxPoints:3 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 13 - Ch 13 Points Grade <Numeric MaxPoints:6 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 14 - Ch 14 Points Grade <Numeric MaxPoints:3 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 17 - Ch 17 Points Grade <Numeric MaxPoints:6 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 18 - Ch 18 Points Grade <Numeric MaxPoints:9 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 19 - Ch 19 Points Grade <Numeric MaxPoints:5 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 23 - Ch 23 Points Grade <Numeric MaxPoints:5 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 24 - Ch 24 Points Grade <Numeric MaxPoints:6 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 25 - Ch 25 Points Grade <Numeric MaxPoints:8 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 28 - Ch 28 Points Grade <Numeric MaxPoints:5 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 30 - Ch 30 Points Grade <Numeric MaxPoints:3 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 31 - Ch 31 Points Grade <Numeric MaxPoints:5 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 4  - Ch 4 Version 2 Points Grade <Numeric MaxPoints:10 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework Subtotal Numerator', 'Homework Subtotal Denominator', 'Exam 1 Points Grade <Numeric MaxPoints:100 Weight:100 Category:Exam 1 CategoryWeight:11>', 'Exam 1 Subtotal Numerator', 'Exam 1 Subtotal Denominator', 'Exam 2 Points Grade <Numeric MaxPoints:100 Weight:100 Category:Exam 2 CategoryWeight:12>', 'Exam 2 Subtotal Numerator', 'Exam 2 Subtotal Denominator', 'Exam 3 Points Grade <Numeric MaxPoints:100 Weight:100 Category:Exam 3 CategoryWeight:12>', 'Exam 3 Subtotal Numerator', 'Exam 3 Subtotal Denominator', 'Sheet Metal Quiz Points Grade <Numeric MaxPoints:6 Weight:545.45454546 Category:In class CategoryWeight:5>', 'Casting Quiz Points Grade <Numeric MaxPoints:6 Weight:545.45454546 Category:In class CategoryWeight:5>', 'Welding Quiz Points Grade <Numeric MaxPoints:5 Weight:454.54545454 Category:In class CategoryWeight:5>', 'Syllabus Quiz Points Grade <Numeric MaxPoints:1 Weight:90.9090909 Category:In class CategoryWeight:5>', 'Coefficent of Thermal Expansion Quiz Points Grade <Numeric MaxPoints:4 Weight:363.63636364 Category:In class CategoryWeight:5>', 'In class Subtotal Numerator', 'In class Subtotal Denominator', 'Calculated Final Grade Numerator', 'Calculated Final Grade Denominator', 'Adjusted Final Grade Numerator', 'Adjusted Final Grade Denominator', 'End-of-Line Indicator']
D2L assignments = ['MachineShop Lab Grade Points Grade ', '3D Printing Safety Quiz Points Grade ', 'Laser Cutting Safety Quiz Points Grade ', 'Phone Stand STL Points Grade ', 'XY Table Concept Proposal Points Grade ', 'Portfolio Points Grade ', 'Tour 1 - Attendance Points Grade ', 'Tour 2 - Attendance Points Grade ', 'Tour 1 - Write Up Points Grade ', 'Tour 2 - Write Up Points Grade ', 'Homework 1 - Ch 1 Points Grade ', 'Homework 2 - Ch 2 Points Grade ', 'Homework 3 - Ch 3 Points Grade ', 'Homework 4 - Ch 4 Points Grade ', 'Homework 6 - Ch 6 Points Grade ', 'Homework 7 - Ch 7 Points Grade ', 'Homework 8 - Ch 8 Points Grade ', 'Homework 9 - Ch 9 Points Grade ', 'Homework 10 - Ch 10 Points Grade ', 'Homework 11 - Ch 11 Points Grade ', 'Homework 12 - Ch 12 Points Grade ', 'Homework 13 - Ch 13 Points Grade ', 'Homework 14 - Ch 14 Points Grade ', 'Homework 17 - Ch 17 Points Grade ', 'Homework 18 - Ch 18 Points Grade ', 'Homework 19 - Ch 19 Points Grade ', 'Homework 23 - Ch 23 Points Grade ', 'Homework 24 - Ch 24 Points Grade ', 'Homework 25 - Ch 25 Points Grade ', 'Homework 28 - Ch 28 Points Grade ', 'Homework 30 - Ch 30 Points Grade ', 'Homework 31 - Ch 31 Points Grade ', 'Homework 4  - Ch 4 Version 2 Points Grade ', 'Exam 1 Points Grade ', 'Exam 2 Points Grade ', 'Exam 3 Points Grade ', 'Sheet Metal Quiz Points Grade ', 'Casting Quiz Points Grade ', 'Welding Quiz Points Grade ', 'Syllabus Quiz Points Grade ', 'Coefficent of Thermal Expansion Quiz Points Grade ']

In [12]:
wp_assigns_lst = extract_wp_assigns(wp_csv)
#wp_assigns_lst

In [13]:
wpassigns2d2lassigns_dict = match_list(wp_assigns_lst, d2l_assings_lst)
#wpassigns2d2lassigns_dict

Homework 31 - Ch 31  =  Homework 31 - Ch 31 Points Grade       % match = 90
Homework 30 - Ch 30  =  Homework 30 - Ch 30 Points Grade       % match = 90
Homework 28 - Ch 28  =  Homework 28 - Ch 28 Points Grade       % match = 90
Homework 25 - Ch 25  =  Homework 25 - Ch 25 Points Grade       % match = 90
Homework 24 - Ch 24  =  Homework 24 - Ch 24 Points Grade       % match = 90
Homework 23 - Ch 23  =  Homework 23 - Ch 23 Points Grade       % match = 90
Homework 19 - Ch 19  =  Homework 19 - Ch 19 Points Grade       % match = 90
Homework 18 - Ch 18  =  Homework 18 - Ch 18 Points Grade       % match = 90
Homework 17 - Ch 17  =  Homework 17 - Ch 17 Points Grade       % match = 90
Homework 14 - Ch 14  =  Homework 14 - Ch 14 Points Grade       % match = 90
Homework 13 - Ch 13  =  Homework 13 - Ch 13 Points Grade       % match = 90
Homework 12 - Ch 12  =  Homework 12 - Ch 12 Points Grade       % match = 90
Homework 11 - Ch 11  =  Homework 11 - Ch 11 Points Grade       % match = 90
Homework 10 - Ch 10  =  Homework 10 - Ch 10 Points Grade       % match = 90
Homework 4 - Ch 4 Version 2  =  Homework 4  - Ch 4 Version 2 Points Grade       % match = 86
Homework 3 - Ch 3  =  Homework 3 - Ch 3 Points Grade       % match = 90
Homework 2 - Ch 2  =  Homework 2 - Ch 2 Points Grade       % match = 90
Homework 1 - Ch 1  =  Homework 1 - Ch 1 Points Grade       % match = 90
Homework 9 - Ch 9  =  Homework 9 - Ch 9 Points Grade       % match = 90
Homework 8 - Ch 8  =  Homework 8 - Ch 8 Points Grade       % match = 90
Homework 7 - Ch 7  =  Homework 7 - Ch 7 Points Grade       % match = 90
Homework 6 - Ch 6  =  Homework 6 - Ch 6 Points Grade       % match = 90
Homework 4 - Ch 4  =  Homework 4 - Ch 4 Points Grade       % match = 90

In [14]:
df.rename(index=str, columns=wpassigns2d2lassigns_dict)
#df3 = df.rename(wpassigns2d2lassigns_dict)
#df3.head()
#list(df3)
#df.head()
#df.rename({'Homework 31 - Ch 31':'New Col'}, axis='columns')
#df.rename(index=str, columns={'Homework 31 - Ch 31':'New Col'})
df.rename(columns = wpassigns2d2lassigns_dict, inplace = True)
#df.head()

In [15]:
df = df.replace('Grades Not Released', ' ', regex=True)  # remove all Grades not replaced cells
df = df.replace('Not Assigned', ' ', regex=True) # remove all not assigned marks
df = df.fillna('')  # fill any NaN cells
#df.head()

In [16]:
df['End-of-Line Indicator'] = '#'  # add a column with End-of-Line Indicator # needed by D2L
df.head()

,OrgDefinedId,Username,Homework 31 - Ch 31 Points Grade,Homework 30 - Ch 30 Points Grade,Homework 28 - Ch 28 Points Grade,Homework 25 - Ch 25 Points Grade,Homework 24 - Ch 24 Points Grade,Homework 23 - Ch 23 Points Grade,Homework 19 - Ch 19 Points Grade,Homework 18 - Ch 18 Points Grade,...,Homework 4 - Ch 4 Version 2 Points Grade,Homework 3 - Ch 3 Points Grade,Homework 2 - Ch 2 Points Grade,Homework 1 - Ch 1 Points Grade,Homework 9 - Ch 9 Points Grade,Homework 8 - Ch 8 Points Grade,Homework 7 - Ch 7 Points Grade,Homework 6 - Ch 6 Points Grade,Homework 4 - Ch 4 Points Grade,End-of-Line Indicator
0,G03827779,mohammed.albeladi,,,,,,,,,...,10,11.0,6.0,7.3,5.5,5.0,5.0,15.0,7,#
1,G03925734,mohammed.alkhaldi3,,,,,,,,,...,8,11.0,5.0,8.0,6.0,6.0,5.0,15.0,7,#
2,G03829508,nayef.alotaibi,,,,,,,,,...,0,10.0,4.1,4.3,0.0,4.6,4.0,13.0,6,#
3,G03534118,sergio.amador,,,,,,,,,...,9,10.0,6.0,8.0,5.0,6.0,5.0,15.0,5,#
4,G01691840,rudy.avalon,,,,,,,,,...,9,11.0,6.0,9.0,5.5,6.0,5.0,14.3,6,#

In [17]:
#df.tail()
df.set_index('OrgDefinedId', drop=True, inplace=True)
df.head()

,Username,Homework 31 - Ch 31 Points Grade,Homework 30 - Ch 30 Points Grade,Homework 28 - Ch 28 Points Grade,Homework 25 - Ch 25 Points Grade,Homework 24 - Ch 24 Points Grade,Homework 23 - Ch 23 Points Grade,Homework 19 - Ch 19 Points Grade,Homework 18 - Ch 18 Points Grade,Homework 17 - Ch 17 Points Grade,...,Homework 4 - Ch 4 Version 2 Points Grade,Homework 3 - Ch 3 Points Grade,Homework 2 - Ch 2 Points Grade,Homework 1 - Ch 1 Points Grade,Homework 9 - Ch 9 Points Grade,Homework 8 - Ch 8 Points Grade,Homework 7 - Ch 7 Points Grade,Homework 6 - Ch 6 Points Grade,Homework 4 - Ch 4 Points Grade,End-of-Line Indicator
OrgDefinedId,,,,,,,,,,,,,,,,,,,,,
G03827779,mohammed.albeladi,,,,,,,,,,...,10,11.0,6.0,7.3,5.5,5.0,5.0,15.0,7,#
G03925734,mohammed.alkhaldi3,,,,,,,,,,...,8,11.0,5.0,8.0,6.0,6.0,5.0,15.0,7,#
G03829508,nayef.alotaibi,,,,,,,,,,...,0,10.0,4.1,4.3,0.0,4.6,4.0,13.0,6,#
G03534118,sergio.amador,,,,,,,,,,...,9,10.0,6.0,8.0,5.0,6.0,5.0,15.0,5,#
G01691840,rudy.avalon,,,,,,,,,,...,9,11.0,6.0,9.0,5.5,6.0,5.0,14.3,6,#

In [18]:
# write the output csv
df.to_csv('notebook_out.csv')