In [1]:
import pandas as pd
from D2Ltools import extract_D2L_assigns, extract_D2L_usernames
from D2Ltools import extract_D2L_OrgIDs
from wptools import extract_wp_assigns, extract_wp_names
from fuzzytools import match_list
from gooey import Gooey
from gooey import GooeyParser

In [2]:
wp_csv = 'WP.csv'
D2L_csv = 'D2L.csv'

In [3]:
wp_names = extract_wp_names(wp_csv)
wp_names

WileyPlus Names = ['MOHAMMED ALBELADI', 'MOHAMMED ALKHALDI', 'NAYEF ALOTAIBI', 'SERGIO AMADOR', 'RUDY AVALON', 'MATTHEW AYER', 'ANDREW BOSAK', 'DESTRY BRAMMER', 'SOPHIA CATHERICK', 'OSCAR CISNEROS', 'CHRISTOPHER DAHLEN', 'IAN DALTON', 'COREY ECK', 'YAHYE EGAL', 'SAM FISHER', 'TY FITZGERALD', 'ANGELE GRENIER', 'GUS HART', 'MATTHEW HARVEY', 'KYLE HOLEWINSKI', 'TRAVIS KIRCHEM', 'COLLIN KLAS', 'SIRINAPA KOSEYAYOTHIN', 'CHRIS KRISTENSEN', 'PHU LE', 'RODOLFO LOPEZ PEREZ', 'AHMED MAHDI', 'ALAN MANZANO', 'ROBERT MULKEY', 'ALFREDO OLVERA CHAVEZ', 'DUNG PHUONG', 'BETSY RUTH QUITUGUA', 'SOLOMON REID', 'RYAN REUTER', 'NESTOR ROBLES', 'RUBEN ROSALES PALMA', 'NATHAN SAUVE', 'KEVIN SISAVIC', 'RICHARD SITNIK', 'NIKOLAS STANEK', 'SERGEY SVINSITSKIY', 'HIEP TANG', 'DUC TRAN', 'MARC WASSERMAN', 'JOSEPH WHOM', 'TITUS WILBURN', 'CHASE ZIELINSKI']

['MOHAMMED ALBELADI',
 'MOHAMMED ALKHALDI',
 'NAYEF ALOTAIBI',
 'SERGIO AMADOR',
 'RUDY AVALON',
 'MATTHEW AYER',
 'ANDREW BOSAK',
 'DESTRY BRAMMER',
 'SOPHIA CATHERICK',
 'OSCAR CISNEROS',
 'CHRISTOPHER DAHLEN',
 'IAN DALTON',
 'COREY ECK',
 'YAHYE EGAL',
 'SAM FISHER',
 'TY FITZGERALD',
 'ANGELE GRENIER',
 'GUS HART',
 'MATTHEW HARVEY',
 'KYLE HOLEWINSKI',
 'TRAVIS KIRCHEM',
 'COLLIN KLAS',
 'SIRINAPA KOSEYAYOTHIN',
 'CHRIS KRISTENSEN',
 'PHU LE',
 'RODOLFO LOPEZ PEREZ',
 'AHMED MAHDI',
 'ALAN MANZANO',
 'ROBERT MULKEY',
 'ALFREDO OLVERA CHAVEZ',
 'DUNG PHUONG',
 'BETSY RUTH QUITUGUA',
 'SOLOMON REID',
 'RYAN REUTER',
 'NESTOR ROBLES',
 'RUBEN ROSALES PALMA',
 'NATHAN SAUVE',
 'KEVIN SISAVIC',
 'RICHARD SITNIK',
 'NIKOLAS STANEK',
 'SERGEY SVINSITSKIY',
 'HIEP TANG',
 'DUC TRAN',
 'MARC WASSERMAN',
 'JOSEPH WHOM',
 'TITUS WILBURN',
 'CHASE ZIELINSKI']

In [4]:
D2L_names = extract_D2L_usernames(D2L_csv)

D2L Names =  ['ian.dalton', 'chris.kristensen', 'collin.klas', 'rudy.avalon', 'titus.wilburn', 'matthew.harvey', 'robertc.mulkey', 'nestor.robles', 'alfredo.olverachavez', 'oscar.cisneros', 'sergio.amador', 'ryan.reuter1', 'andrew.bosak', 'nathan.sauve', 'gregg.meyer', 'ruben.rosalespalma', 'gus.hart', 'rodolfo.lopezperez', 'phu.le4', 'kyle.holewinski', 'angele.grenier', 'alan.manzano', 'betsy.quitugua', 'sergey.svinsitskiy', 'hiep.tang', 'matthew.ayer', 'kevin.sisavic', 'duc.tran7', 'ty.fitzgerald', 'sirinapa.koseyayothin', 'travis.kirchem', 'dung.phuong', 'richard.sitnik', 'sophia.catherick', 'mohammed.albeladi', 'nayef.alotaibi', 'peter.kazarinoff', 'christopher.dahlen', 'ahmed.mahdi', 'joseph.whom', 'solomon.reid', 'destry.brammer', 'nik.stanek', 'yahye.egal', 'marc.wasserman', 'sam.fisher1', 'mohammed.alkhaldi3', 'chase.zielinski', 'corey.eck']

In [5]:
named = match_list(wp_names, D2L_names)

MOHAMMED ALBELADI  =  mohammed.albeladi      % match = 100
MOHAMMED ALKHALDI  =  mohammed.alkhaldi3      % match = 97
NAYEF ALOTAIBI  =  nayef.alotaibi      % match = 100
SERGIO AMADOR  =  sergio.amador      % match = 100
RUDY AVALON  =  rudy.avalon      % match = 100
MATTHEW AYER  =  matthew.ayer      % match = 100
ANDREW BOSAK  =  andrew.bosak      % match = 100
DESTRY BRAMMER  =  destry.brammer      % match = 100
SOPHIA CATHERICK  =  sophia.catherick      % match = 100
OSCAR CISNEROS  =  oscar.cisneros      % match = 100
CHRISTOPHER DAHLEN  =  christopher.dahlen      % match = 100
IAN DALTON  =  ian.dalton      % match = 100
COREY ECK  =  corey.eck      % match = 100
YAHYE EGAL  =  yahye.egal      % match = 100
SAM FISHER  =  sam.fisher1      % match = 95
TY FITZGERALD  =  ty.fitzgerald      % match = 100
ANGELE GRENIER  =  angele.grenier      % match = 100
GUS HART  =  gus.hart      % match = 100
MATTHEW HARVEY  =  matthew.harvey      % match = 100
KYLE HOLEWINSKI  =  kyle.holewinski      % match = 100
TRAVIS KIRCHEM  =  travis.kirchem      % match = 100
COLLIN KLAS  =  collin.klas      % match = 100
SIRINAPA KOSEYAYOTHIN  =  sirinapa.koseyayothin      % match = 100
CHRIS KRISTENSEN  =  chris.kristensen      % match = 100
PHU LE  =  phu.le4      % match = 92
RODOLFO LOPEZ PEREZ  =  rodolfo.lopezperez      % match = 97
AHMED MAHDI  =  ahmed.mahdi      % match = 100
ALAN MANZANO  =  alan.manzano      % match = 100
ROBERT MULKEY  =  robertc.mulkey      % match = 96
ALFREDO OLVERA CHAVEZ  =  alfredo.olverachavez      % match = 98
DUNG PHUONG  =  dung.phuong      % match = 100
BETSY RUTH QUITUGUA  =  betsy.quitugua      % match = 95
SOLOMON REID  =  solomon.reid      % match = 100
RYAN REUTER  =  ryan.reuter1      % match = 96
NESTOR ROBLES  =  nestor.robles      % match = 100
RUBEN ROSALES PALMA  =  ruben.rosalespalma      % match = 97
NATHAN SAUVE  =  nathan.sauve      % match = 100
KEVIN SISAVIC  =  kevin.sisavic      % match = 100
RICHARD SITNIK  =  richard.sitnik      % match = 100
NIKOLAS STANEK  =  nik.stanek      % match = 83
SERGEY SVINSITSKIY  =  sergey.svinsitskiy      % match = 100
HIEP TANG  =  hiep.tang      % match = 100
DUC TRAN  =  duc.tran7      % match = 94
MARC WASSERMAN  =  marc.wasserman      % match = 100
JOSEPH WHOM  =  joseph.whom      % match = 100
TITUS WILBURN  =  titus.wilburn      % match = 100
CHASE ZIELINSKI  =  chase.zielinski      % match = 100

In [6]:
named

{'AHMED MAHDI': 'ahmed.mahdi',
 'ALAN MANZANO': 'alan.manzano',
 'ALFREDO OLVERA CHAVEZ': 'alfredo.olverachavez',
 'ANDREW BOSAK': 'andrew.bosak',
 'ANGELE GRENIER': 'angele.grenier',
 'BETSY RUTH QUITUGUA': 'betsy.quitugua',
 'CHASE ZIELINSKI': 'chase.zielinski',
 'CHRIS KRISTENSEN': 'chris.kristensen',
 'CHRISTOPHER DAHLEN': 'christopher.dahlen',
 'COLLIN KLAS': 'collin.klas',
 'COREY ECK': 'corey.eck',
 'DESTRY BRAMMER': 'destry.brammer',
 'DUC TRAN': 'duc.tran7',
 'DUNG PHUONG': 'dung.phuong',
 'GUS HART': 'gus.hart',
 'HIEP TANG': 'hiep.tang',
 'IAN DALTON': 'ian.dalton',
 'JOSEPH WHOM': 'joseph.whom',
 'KEVIN SISAVIC': 'kevin.sisavic',
 'KYLE HOLEWINSKI': 'kyle.holewinski',
 'MARC WASSERMAN': 'marc.wasserman',
 'MATTHEW AYER': 'matthew.ayer',
 'MATTHEW HARVEY': 'matthew.harvey',
 'MOHAMMED ALBELADI': 'mohammed.albeladi',
 'MOHAMMED ALKHALDI': 'mohammed.alkhaldi3',
 'NATHAN SAUVE': 'nathan.sauve',
 'NAYEF ALOTAIBI': 'nayef.alotaibi',
 'NESTOR ROBLES': 'nestor.robles',
 'NIKOLAS STANEK': 'nik.stanek',
 'OSCAR CISNEROS': 'oscar.cisneros',
 'PHU LE': 'phu.le4',
 'RICHARD SITNIK': 'richard.sitnik',
 'ROBERT MULKEY': 'robertc.mulkey',
 'RODOLFO LOPEZ PEREZ': 'rodolfo.lopezperez',
 'RUBEN ROSALES PALMA': 'ruben.rosalespalma',
 'RUDY AVALON': 'rudy.avalon',
 'RYAN REUTER': 'ryan.reuter1',
 'SAM FISHER': 'sam.fisher1',
 'SERGEY SVINSITSKIY': 'sergey.svinsitskiy',
 'SERGIO AMADOR': 'sergio.amador',
 'SIRINAPA KOSEYAYOTHIN': 'sirinapa.koseyayothin',
 'SOLOMON REID': 'solomon.reid',
 'SOPHIA CATHERICK': 'sophia.catherick',
 'TITUS WILBURN': 'titus.wilburn',
 'TRAVIS KIRCHEM': 'travis.kirchem',
 'TY FITZGERALD': 'ty.fitzgerald',
 'YAHYE EGAL': 'yahye.egal'}

In [7]:
UserIDdict = extract_D2L_OrgIDs(D2L_csv)

D2L Usernames =  ['ian.dalton', 'chris.kristensen', 'collin.klas', 'rudy.avalon', 'titus.wilburn', 'matthew.harvey', 'robertc.mulkey', 'nestor.robles', 'alfredo.olverachavez', 'oscar.cisneros', 'sergio.amador', 'ryan.reuter1', 'andrew.bosak', 'nathan.sauve', 'gregg.meyer', 'ruben.rosalespalma', 'gus.hart', 'rodolfo.lopezperez', 'phu.le4', 'kyle.holewinski', 'angele.grenier', 'alan.manzano', 'betsy.quitugua', 'sergey.svinsitskiy', 'hiep.tang', 'matthew.ayer', 'kevin.sisavic', 'duc.tran7', 'ty.fitzgerald', 'sirinapa.koseyayothin', 'travis.kirchem', 'dung.phuong', 'richard.sitnik', 'sophia.catherick', 'mohammed.albeladi', 'nayef.alotaibi', 'peter.kazarinoff', 'christopher.dahlen', 'ahmed.mahdi', 'joseph.whom', 'solomon.reid', 'destry.brammer', 'nik.stanek', 'yahye.egal', 'marc.wasserman', 'sam.fisher1', 'mohammed.alkhaldi3', 'chase.zielinski', 'corey.eck']
D2L OrgIDs =  ['G00799208', 'G01133753', 'G01169411', 'G01691840', 'G01918139', 'G02449676', 'G02680154', 'G03413564', 'G03455396', 'G03497558', 'G03534118', 'G03540357', 'G03555175', 'G03557026', 'G03567755', 'G03579622', 'G03583082', 'G03585054', 'G03609641', 'G03642741', 'G03646442', 'G03650575', 'G03660451', 'G03672919', 'G03693878', 'G03737060', 'G03753142', 'G03762748', 'G03773862', 'G03776414', 'G03786287', 'G03798110', 'G03813135', 'G03818603', 'G03827779', 'G03829508', 'G03830358', 'G03834043', 'G03836283', 'G03840827', 'G03855947', 'G03875793', 'G03895549', 'G03899628', 'G03914927', 'G03917612', 'G03925734', 'G03930483', 'G03936892']
ian.dalton  :  G00799208
chris.kristensen  :  G01133753
collin.klas  :  G01169411
rudy.avalon  :  G01691840
titus.wilburn  :  G01918139
matthew.harvey  :  G02449676
robertc.mulkey  :  G02680154
nestor.robles  :  G03413564
alfredo.olverachavez  :  G03455396
oscar.cisneros  :  G03497558
sergio.amador  :  G03534118
ryan.reuter1  :  G03540357
andrew.bosak  :  G03555175
nathan.sauve  :  G03557026
gregg.meyer  :  G03567755
ruben.rosalespalma  :  G03579622
gus.hart  :  G03583082
rodolfo.lopezperez  :  G03585054
phu.le4  :  G03609641
kyle.holewinski  :  G03642741
angele.grenier  :  G03646442
alan.manzano  :  G03650575
betsy.quitugua  :  G03660451
sergey.svinsitskiy  :  G03672919
hiep.tang  :  G03693878
matthew.ayer  :  G03737060
kevin.sisavic  :  G03753142
duc.tran7  :  G03762748
ty.fitzgerald  :  G03773862
sirinapa.koseyayothin  :  G03776414
travis.kirchem  :  G03786287
dung.phuong  :  G03798110
richard.sitnik  :  G03813135
sophia.catherick  :  G03818603
mohammed.albeladi  :  G03827779
nayef.alotaibi  :  G03829508
peter.kazarinoff  :  G03830358
christopher.dahlen  :  G03834043
ahmed.mahdi  :  G03836283
joseph.whom  :  G03840827
solomon.reid  :  G03855947
destry.brammer  :  G03875793
nik.stanek  :  G03895549
yahye.egal  :  G03899628
marc.wasserman  :  G03914927
sam.fisher1  :  G03917612
mohammed.alkhaldi3  :  G03925734
chase.zielinski  :  G03930483
corey.eck  :  G03936892

In [8]:
D2L_assigns = extract_D2L_assigns(D2L_csv)
wp_assigns = extract_wp_assigns(wp_csv)
assignd = match_list(wp_assigns, D2L_assigns)

D2L column headers =  ['OrgDefinedId', 'Username', 'Last Name', 'First Name', 'Email', 'Section', 'MachineShop Lab Grade Points Grade <Numeric MaxPoints:100 Weight:100 Category:Lab: Machine Shop CategoryWeight:25>', 'Lab: Machine Shop Subtotal Numerator', 'Lab: Machine Shop Subtotal Denominator', '3D Printing Safety Quiz Points Grade <Numeric MaxPoints:10 Weight:10 Category:Lab: MakerSpace CategoryWeight:17>', 'Laser Cutting Safety Quiz Points Grade <Numeric MaxPoints:10 Weight:10 Category:Lab: MakerSpace CategoryWeight:17>', 'Phone Stand STL Points Grade <Numeric MaxPoints:15 Weight:15 Category:Lab: MakerSpace CategoryWeight:17>', 'XY Table Concept Proposal Points Grade <Numeric MaxPoints:25 Weight:25 Category:Lab: MakerSpace CategoryWeight:17>', 'Portfolio Points Grade <Numeric MaxPoints:40 Weight:40 Category:Lab: MakerSpace CategoryWeight:17>', 'Lab: MakerSpace Subtotal Numerator', 'Lab: MakerSpace Subtotal Denominator', 'Tour 1 - Attendance Points Grade <Numeric MaxPoints:10 Weight:312.5 Category:Lab: Tours CategoryWeight:8>', 'Tour 2 - Attendance Points Grade <Numeric MaxPoints:10 Weight:312.5 Category:Lab: Tours CategoryWeight:8>', 'Tour 1 - Write Up Points Grade <Numeric MaxPoints:10 Weight:312.5 Category:Lab: Tours CategoryWeight:8>', 'Tour 2 - Write Up Points Grade <Numeric MaxPoints:10 Weight:312.5 Category:Lab: Tours CategoryWeight:8>', 'Lab: Tours Subtotal Numerator', 'Lab: Tours Subtotal Denominator', 'Homework 1 - Ch 1 Points Grade <Numeric MaxPoints:6 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 2 - Ch 2 Points Grade <Numeric MaxPoints:13 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 3 - Ch 3 Points Grade <Numeric MaxPoints:7 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 4 - Ch 4 Points Grade <Numeric MaxPoints:7 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 6 - Ch 6 Points Grade <Numeric MaxPoints:15 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 7 - Ch 7 Points Grade <Numeric MaxPoints:5 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 8 - Ch 8 Points Grade <Numeric MaxPoints:6 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 9 - Ch 9 Points Grade <Numeric MaxPoints:6 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 10 - Ch 10 Points Grade <Numeric MaxPoints:4 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 11 - Ch 11 Points Grade <Numeric MaxPoints:7 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 12 - Ch 12 Points Grade <Numeric MaxPoints:3 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 13 - Ch 13 Points Grade <Numeric MaxPoints:6 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 14 - Ch 14 Points Grade <Numeric MaxPoints:3 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 17 - Ch 17 Points Grade <Numeric MaxPoints:6 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 18 - Ch 18 Points Grade <Numeric MaxPoints:9 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 19 - Ch 19 Points Grade <Numeric MaxPoints:5 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 23 - Ch 23 Points Grade <Numeric MaxPoints:5 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 24 - Ch 24 Points Grade <Numeric MaxPoints:6 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 25 - Ch 25 Points Grade <Numeric MaxPoints:8 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 28 - Ch 28 Points Grade <Numeric MaxPoints:5 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 30 - Ch 30 Points Grade <Numeric MaxPoints:3 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 31 - Ch 31 Points Grade <Numeric MaxPoints:5 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 4  - Ch 4 Version 2 Points Grade <Numeric MaxPoints:10 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework Subtotal Numerator', 'Homework Subtotal Denominator', 'Exam 1 Points Grade <Numeric MaxPoints:100 Weight:100 Category:Exam 1 CategoryWeight:11>', 'Exam 1 Subtotal Numerator', 'Exam 1 Subtotal Denominator', 'Exam 2 Points Grade <Numeric MaxPoints:100 Weight:100 Category:Exam 2 CategoryWeight:12>', 'Exam 2 Subtotal Numerator', 'Exam 2 Subtotal Denominator', 'Exam 3 Points Grade <Numeric MaxPoints:100 Weight:100 Category:Exam 3 CategoryWeight:12>', 'Exam 3 Subtotal Numerator', 'Exam 3 Subtotal Denominator', 'Sheet Metal Quiz Points Grade <Numeric MaxPoints:6 Weight:545.45454546 Category:In class CategoryWeight:5>', 'Casting Quiz Points Grade <Numeric MaxPoints:6 Weight:545.45454546 Category:In class CategoryWeight:5>', 'Welding Quiz Points Grade <Numeric MaxPoints:5 Weight:454.54545454 Category:In class CategoryWeight:5>', 'Syllabus Quiz Points Grade <Numeric MaxPoints:1 Weight:90.9090909 Category:In class CategoryWeight:5>', 'Coefficent of Thermal Expansion Quiz Points Grade <Numeric MaxPoints:4 Weight:363.63636364 Category:In class CategoryWeight:5>', 'In class Subtotal Numerator', 'In class Subtotal Denominator', 'Calculated Final Grade Numerator', 'Calculated Final Grade Denominator', 'Adjusted Final Grade Numerator', 'Adjusted Final Grade Denominator', 'End-of-Line Indicator']
D2L assignments = ['MachineShop Lab Grade Points Grade ', '3D Printing Safety Quiz Points Grade ', 'Laser Cutting Safety Quiz Points Grade ', 'Phone Stand STL Points Grade ', 'XY Table Concept Proposal Points Grade ', 'Portfolio Points Grade ', 'Tour 1 - Attendance Points Grade ', 'Tour 2 - Attendance Points Grade ', 'Tour 1 - Write Up Points Grade ', 'Tour 2 - Write Up Points Grade ', 'Homework 1 - Ch 1 Points Grade ', 'Homework 2 - Ch 2 Points Grade ', 'Homework 3 - Ch 3 Points Grade ', 'Homework 4 - Ch 4 Points Grade ', 'Homework 6 - Ch 6 Points Grade ', 'Homework 7 - Ch 7 Points Grade ', 'Homework 8 - Ch 8 Points Grade ', 'Homework 9 - Ch 9 Points Grade ', 'Homework 10 - Ch 10 Points Grade ', 'Homework 11 - Ch 11 Points Grade ', 'Homework 12 - Ch 12 Points Grade ', 'Homework 13 - Ch 13 Points Grade ', 'Homework 14 - Ch 14 Points Grade ', 'Homework 17 - Ch 17 Points Grade ', 'Homework 18 - Ch 18 Points Grade ', 'Homework 19 - Ch 19 Points Grade ', 'Homework 23 - Ch 23 Points Grade ', 'Homework 24 - Ch 24 Points Grade ', 'Homework 25 - Ch 25 Points Grade ', 'Homework 28 - Ch 28 Points Grade ', 'Homework 30 - Ch 30 Points Grade ', 'Homework 31 - Ch 31 Points Grade ', 'Homework 4  - Ch 4 Version 2 Points Grade ', 'Exam 1 Points Grade ', 'Exam 2 Points Grade ', 'Exam 3 Points Grade ', 'Sheet Metal Quiz Points Grade ', 'Casting Quiz Points Grade ', 'Welding Quiz Points Grade ', 'Syllabus Quiz Points Grade ', 'Coefficent of Thermal Expansion Quiz Points Grade ']
['First Name', 'Last Name', 'Email', 'Course name', 'Class-section name', 'Date', 'Overall Score (%)', '*Optional Homework 40 - Ch 40', '*Optional Homework 39 - Ch 39', '*Optional Homework 38 - Ch 38', '*Optional Homework 33', 'Homework 31 - Ch 31', 'Homework 30 - Ch 30', 'Homework 28 - Ch 28', 'Homework 25 - Ch 25', 'Homework 24 - Ch 24', 'Homework 23 - Ch 23', 'Homework 19 - Ch 19', 'Homework 18 - Ch 18', 'Homework 17 - Ch 17', 'Homework 14 - Ch 14', 'Homework 13 - Ch 13', 'Homework 12 - Ch 12', 'Homework 11 - Ch 11', 'Homework 10 - Ch 10', 'Homework 4 - Ch 4 Version 2', 'Homework 3 - Ch 3', 'Homework 2 - Ch 2', 'Homework 1 - Ch 1', 'Homework 9 - Ch 9', 'Homework 8 - Ch 8', 'Homework 7 - Ch 7', 'Homework 6 - Ch 6', 'Homework 4 - Ch 4']
['*Optional Homework 40 - Ch 40', '*Optional Homework 39 - Ch 39', '*Optional Homework 38 - Ch 38', '*Optional Homework 33', 'Homework 31 - Ch 31', 'Homework 30 - Ch 30', 'Homework 28 - Ch 28', 'Homework 25 - Ch 25', 'Homework 24 - Ch 24', 'Homework 23 - Ch 23', 'Homework 19 - Ch 19', 'Homework 18 - Ch 18', 'Homework 17 - Ch 17', 'Homework 14 - Ch 14', 'Homework 13 - Ch 13', 'Homework 12 - Ch 12', 'Homework 11 - Ch 11', 'Homework 10 - Ch 10', 'Homework 4 - Ch 4 Version 2', 'Homework 3 - Ch 3', 'Homework 2 - Ch 2', 'Homework 1 - Ch 1', 'Homework 9 - Ch 9', 'Homework 8 - Ch 8', 'Homework 7 - Ch 7', 'Homework 6 - Ch 6', 'Homework 4 - Ch 4']
*Optional Homework 40 - Ch 40  =  Homework 4 - Ch 4 Points Grade       % match = 66
*Optional Homework 39 - Ch 39  =  Homework 3 - Ch 3 Points Grade       % match = 66
*Optional Homework 38 - Ch 38  =  Homework 3 - Ch 3 Points Grade       % match = 66
*Optional Homework 33  =  Homework 1 - Ch 1 Points Grade       % match = 86
Homework 31 - Ch 31  =  Homework 31 - Ch 31 Points Grade       % match = 90
Homework 30 - Ch 30  =  Homework 30 - Ch 30 Points Grade       % match = 90
Homework 28 - Ch 28  =  Homework 28 - Ch 28 Points Grade       % match = 90
Homework 25 - Ch 25  =  Homework 25 - Ch 25 Points Grade       % match = 90
Homework 24 - Ch 24  =  Homework 24 - Ch 24 Points Grade       % match = 90
Homework 23 - Ch 23  =  Homework 23 - Ch 23 Points Grade       % match = 90
Homework 19 - Ch 19  =  Homework 19 - Ch 19 Points Grade       % match = 90
Homework 18 - Ch 18  =  Homework 18 - Ch 18 Points Grade       % match = 90
Homework 17 - Ch 17  =  Homework 17 - Ch 17 Points Grade       % match = 90
Homework 14 - Ch 14  =  Homework 14 - Ch 14 Points Grade       % match = 90
Homework 13 - Ch 13  =  Homework 13 - Ch 13 Points Grade       % match = 90
Homework 12 - Ch 12  =  Homework 12 - Ch 12 Points Grade       % match = 90
Homework 11 - Ch 11  =  Homework 11 - Ch 11 Points Grade       % match = 90
Homework 10 - Ch 10  =  Homework 10 - Ch 10 Points Grade       % match = 90
Homework 4 - Ch 4 Version 2  =  Homework 4  - Ch 4 Version 2 Points Grade       % match = 86
Homework 3 - Ch 3  =  Homework 3 - Ch 3 Points Grade       % match = 90
Homework 2 - Ch 2  =  Homework 2 - Ch 2 Points Grade       % match = 90
Homework 1 - Ch 1  =  Homework 1 - Ch 1 Points Grade       % match = 90
Homework 9 - Ch 9  =  Homework 9 - Ch 9 Points Grade       % match = 90
Homework 8 - Ch 8  =  Homework 8 - Ch 8 Points Grade       % match = 90
Homework 7 - Ch 7  =  Homework 7 - Ch 7 Points Grade       % match = 90
Homework 6 - Ch 6  =  Homework 6 - Ch 6 Points Grade       % match = 90
Homework 4 - Ch 4  =  Homework 4 - Ch 4 Points Grade       % match = 90
{'*Optional Homework 40 - Ch 40': 'Homework 4 - Ch 4 Points Grade ', '*Optional Homework 39 - Ch 39': 'Homework 3 - Ch 3 Points Grade ', '*Optional Homework 38 - Ch 38': 'Homework 3 - Ch 3 Points Grade ', '*Optional Homework 33': 'Homework 1 - Ch 1 Points Grade ', 'Homework 31 - Ch 31': 'Homework 31 - Ch 31 Points Grade ', 'Homework 30 - Ch 30': 'Homework 30 - Ch 30 Points Grade ', 'Homework 28 - Ch 28': 'Homework 28 - Ch 28 Points Grade ', 'Homework 25 - Ch 25': 'Homework 25 - Ch 25 Points Grade ', 'Homework 24 - Ch 24': 'Homework 24 - Ch 24 Points Grade ', 'Homework 23 - Ch 23': 'Homework 23 - Ch 23 Points Grade ', 'Homework 19 - Ch 19': 'Homework 19 - Ch 19 Points Grade ', 'Homework 18 - Ch 18': 'Homework 18 - Ch 18 Points Grade ', 'Homework 17 - Ch 17': 'Homework 17 - Ch 17 Points Grade ', 'Homework 14 - Ch 14': 'Homework 14 - Ch 14 Points Grade ', 'Homework 13 - Ch 13': 'Homework 13 - Ch 13 Points Grade ', 'Homework 12 - Ch 12': 'Homework 12 - Ch 12 Points Grade ', 'Homework 11 - Ch 11': 'Homework 11 - Ch 11 Points Grade ', 'Homework 10 - Ch 10': 'Homework 10 - Ch 10 Points Grade ', 'Homework 4 - Ch 4 Version 2': 'Homework 4  - Ch 4 Version 2 Points Grade ', 'Homework 3 - Ch 3': 'Homework 3 - Ch 3 Points Grade ', 'Homework 2 - Ch 2': 'Homework 2 - Ch 2 Points Grade ', 'Homework 1 - Ch 1': 'Homework 1 - Ch 1 Points Grade ', 'Homework 9 - Ch 9': 'Homework 9 - Ch 9 Points Grade ', 'Homework 8 - Ch 8': 'Homework 8 - Ch 8 Points Grade ', 'Homework 7 - Ch 7': 'Homework 7 - Ch 7 Points Grade ', 'Homework 6 - Ch 6': 'Homework 6 - Ch 6 Points Grade ', 'Homework 4 - Ch 4': 'Homework 4 - Ch 4 Points Grade '}

In [7]:
D2L_assigns = extract_D2L_assigns(D2L_csv)
for assign in D2L_assigns:
    print(assign)

D2L column headers =  ['OrgDefinedId', 'Username', 'Last Name', 'First Name', 'Email', 'Section', 'MachineShop Lab Grade Points Grade <Numeric MaxPoints:100 Weight:100 Category:Lab: Machine Shop CategoryWeight:25>', 'Lab: Machine Shop Subtotal Numerator', 'Lab: Machine Shop Subtotal Denominator', '3D Printing Safety Quiz Points Grade <Numeric MaxPoints:10 Weight:10 Category:Lab: MakerSpace CategoryWeight:17>', 'Laser Cutting Safety Quiz Points Grade <Numeric MaxPoints:10 Weight:10 Category:Lab: MakerSpace CategoryWeight:17>', 'Phone Stand STL Points Grade <Numeric MaxPoints:15 Weight:15 Category:Lab: MakerSpace CategoryWeight:17>', 'XY Table Concept Proposal Points Grade <Numeric MaxPoints:25 Weight:25 Category:Lab: MakerSpace CategoryWeight:17>', 'Portfolio Points Grade <Numeric MaxPoints:40 Weight:40 Category:Lab: MakerSpace CategoryWeight:17>', 'Lab: MakerSpace Subtotal Numerator', 'Lab: MakerSpace Subtotal Denominator', 'Tour 1 - Attendance Points Grade <Numeric MaxPoints:10 Weight:312.5 Category:Lab: Tours CategoryWeight:8>', 'Tour 2 - Attendance Points Grade <Numeric MaxPoints:10 Weight:312.5 Category:Lab: Tours CategoryWeight:8>', 'Tour 1 - Write Up Points Grade <Numeric MaxPoints:10 Weight:312.5 Category:Lab: Tours CategoryWeight:8>', 'Tour 2 - Write Up Points Grade <Numeric MaxPoints:10 Weight:312.5 Category:Lab: Tours CategoryWeight:8>', 'Lab: Tours Subtotal Numerator', 'Lab: Tours Subtotal Denominator', 'Homework 1 - Ch 1 Points Grade <Numeric MaxPoints:6 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 2 - Ch 2 Points Grade <Numeric MaxPoints:13 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 3 - Ch 3 Points Grade <Numeric MaxPoints:7 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 4 - Ch 4 Points Grade <Numeric MaxPoints:7 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 6 - Ch 6 Points Grade <Numeric MaxPoints:15 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 7 - Ch 7 Points Grade <Numeric MaxPoints:5 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 8 - Ch 8 Points Grade <Numeric MaxPoints:6 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 9 - Ch 9 Points Grade <Numeric MaxPoints:6 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 10 - Ch 10 Points Grade <Numeric MaxPoints:4 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 11 - Ch 11 Points Grade <Numeric MaxPoints:7 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 12 - Ch 12 Points Grade <Numeric MaxPoints:3 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 13 - Ch 13 Points Grade <Numeric MaxPoints:6 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 14 - Ch 14 Points Grade <Numeric MaxPoints:3 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 17 - Ch 17 Points Grade <Numeric MaxPoints:6 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 18 - Ch 18 Points Grade <Numeric MaxPoints:9 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 19 - Ch 19 Points Grade <Numeric MaxPoints:5 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 23 - Ch 23 Points Grade <Numeric MaxPoints:5 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 24 - Ch 24 Points Grade <Numeric MaxPoints:6 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 25 - Ch 25 Points Grade <Numeric MaxPoints:8 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 28 - Ch 28 Points Grade <Numeric MaxPoints:5 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 30 - Ch 30 Points Grade <Numeric MaxPoints:3 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 31 - Ch 31 Points Grade <Numeric MaxPoints:5 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework 4  - Ch 4 Version 2 Points Grade <Numeric MaxPoints:10 Weight:4.34782609 Category:Homework CategoryWeight:10>', 'Homework Subtotal Numerator', 'Homework Subtotal Denominator', 'Exam 1 Points Grade <Numeric MaxPoints:100 Weight:100 Category:Exam 1 CategoryWeight:11>', 'Exam 1 Subtotal Numerator', 'Exam 1 Subtotal Denominator', 'Exam 2 Points Grade <Numeric MaxPoints:100 Weight:100 Category:Exam 2 CategoryWeight:12>', 'Exam 2 Subtotal Numerator', 'Exam 2 Subtotal Denominator', 'Exam 3 Points Grade <Numeric MaxPoints:100 Weight:100 Category:Exam 3 CategoryWeight:12>', 'Exam 3 Subtotal Numerator', 'Exam 3 Subtotal Denominator', 'Sheet Metal Quiz Points Grade <Numeric MaxPoints:6 Weight:545.45454546 Category:In class CategoryWeight:5>', 'Casting Quiz Points Grade <Numeric MaxPoints:6 Weight:545.45454546 Category:In class CategoryWeight:5>', 'Welding Quiz Points Grade <Numeric MaxPoints:5 Weight:454.54545454 Category:In class CategoryWeight:5>', 'Syllabus Quiz Points Grade <Numeric MaxPoints:1 Weight:90.9090909 Category:In class CategoryWeight:5>', 'Coefficent of Thermal Expansion Quiz Points Grade <Numeric MaxPoints:4 Weight:363.63636364 Category:In class CategoryWeight:5>', 'In class Subtotal Numerator', 'In class Subtotal Denominator', 'Calculated Final Grade Numerator', 'Calculated Final Grade Denominator', 'Adjusted Final Grade Numerator', 'Adjusted Final Grade Denominator', 'End-of-Line Indicator']
D2L assignments = ['MachineShop Lab Grade Points Grade ', '3D Printing Safety Quiz Points Grade ', 'Laser Cutting Safety Quiz Points Grade ', 'Phone Stand STL Points Grade ', 'XY Table Concept Proposal Points Grade ', 'Portfolio Points Grade ', 'Tour 1 - Attendance Points Grade ', 'Tour 2 - Attendance Points Grade ', 'Tour 1 - Write Up Points Grade ', 'Tour 2 - Write Up Points Grade ', 'Homework 1 - Ch 1 Points Grade ', 'Homework 2 - Ch 2 Points Grade ', 'Homework 3 - Ch 3 Points Grade ', 'Homework 4 - Ch 4 Points Grade ', 'Homework 6 - Ch 6 Points Grade ', 'Homework 7 - Ch 7 Points Grade ', 'Homework 8 - Ch 8 Points Grade ', 'Homework 9 - Ch 9 Points Grade ', 'Homework 10 - Ch 10 Points Grade ', 'Homework 11 - Ch 11 Points Grade ', 'Homework 12 - Ch 12 Points Grade ', 'Homework 13 - Ch 13 Points Grade ', 'Homework 14 - Ch 14 Points Grade ', 'Homework 17 - Ch 17 Points Grade ', 'Homework 18 - Ch 18 Points Grade ', 'Homework 19 - Ch 19 Points Grade ', 'Homework 23 - Ch 23 Points Grade ', 'Homework 24 - Ch 24 Points Grade ', 'Homework 25 - Ch 25 Points Grade ', 'Homework 28 - Ch 28 Points Grade ', 'Homework 30 - Ch 30 Points Grade ', 'Homework 31 - Ch 31 Points Grade ', 'Homework 4  - Ch 4 Version 2 Points Grade ', 'Exam 1 Points Grade ', 'Exam 2 Points Grade ', 'Exam 3 Points Grade ', 'Sheet Metal Quiz Points Grade ', 'Casting Quiz Points Grade ', 'Welding Quiz Points Grade ', 'Syllabus Quiz Points Grade ', 'Coefficent of Thermal Expansion Quiz Points Grade ']
MachineShop Lab Grade Points Grade
3D Printing Safety Quiz Points Grade
Laser Cutting Safety Quiz Points Grade
Phone Stand STL Points Grade
XY Table Concept Proposal Points Grade
Portfolio Points Grade
Tour 1 - Attendance Points Grade
Tour 2 - Attendance Points Grade
Tour 1 - Write Up Points Grade
Tour 2 - Write Up Points Grade
Homework 1 - Ch 1 Points Grade
Homework 2 - Ch 2 Points Grade
Homework 3 - Ch 3 Points Grade
Homework 4 - Ch 4 Points Grade
Homework 6 - Ch 6 Points Grade
Homework 7 - Ch 7 Points Grade
Homework 8 - Ch 8 Points Grade
Homework 9 - Ch 9 Points Grade
Homework 10 - Ch 10 Points Grade
Homework 11 - Ch 11 Points Grade
Homework 12 - Ch 12 Points Grade
Homework 13 - Ch 13 Points Grade
Homework 14 - Ch 14 Points Grade
Homework 17 - Ch 17 Points Grade
Homework 18 - Ch 18 Points Grade
Homework 19 - Ch 19 Points Grade
Homework 23 - Ch 23 Points Grade
Homework 24 - Ch 24 Points Grade
Homework 25 - Ch 25 Points Grade
Homework 28 - Ch 28 Points Grade
Homework 30 - Ch 30 Points Grade
Homework 31 - Ch 31 Points Grade
Homework 4  - Ch 4 Version 2 Points Grade
Exam 1 Points Grade
Exam 2 Points Grade
Exam 3 Points Grade
Sheet Metal Quiz Points Grade
Casting Quiz Points Grade
Welding Quiz Points Grade
Syllabus Quiz Points Grade
Coefficent of Thermal Expansion Quiz Points Grade

In [9]:
no_pts_D2L_assigns = [ assign.strip(' Points Grade') for assign in D2L_assigns if ' Points Grade' in assign]
for a in no_pts_D2L_assigns:
    print(a)

MachineShop Lab
3D Printing Safety Quiz
Laser Cutting Safety Quiz
hone Stand STL
XY Table Concept Proposal
fol
Tour 1 - Attendanc
Tour 2 - Attendanc
Tour 1 - Write Up
Tour 2 - Write Up
Homework 1 - Ch 1
Homework 2 - Ch 2
Homework 3 - Ch 3
Homework 4 - Ch 4
Homework 6 - Ch 6
Homework 7 - Ch 7
Homework 8 - Ch 8
Homework 9 - Ch 9
Homework 10 - Ch 10
Homework 11 - Ch 11
Homework 12 - Ch 12
Homework 13 - Ch 13
Homework 14 - Ch 14
Homework 17 - Ch 17
Homework 18 - Ch 18
Homework 19 - Ch 19
Homework 23 - Ch 23
Homework 24 - Ch 24
Homework 25 - Ch 25
Homework 28 - Ch 28
Homework 30 - Ch 30
Homework 31 - Ch 31
Homework 4  - Ch 4 Version 2
Exam 1
Exam 2
Exam 3
Sheet Metal Quiz
Casting Quiz
Welding Quiz
Syllabus Quiz
Coefficent of Thermal Expansion Quiz

In [13]:
wp_assigns = extract_wp_assigns(wp_csv)
for a in wp_assigns:
    print(a)
#assignd = match_list(wp_assigns, no_pts_D2L_assigns)

['First Name', 'Last Name', 'Email', 'Course name', 'Class-section name', 'Date', 'Overall Score (%)', '*Optional Homework 40 - Ch 40', '*Optional Homework 39 - Ch 39', '*Optional Homework 38 - Ch 38', '*Optional Homework 33', 'Homework 31 - Ch 31', 'Homework 30 - Ch 30', 'Homework 28 - Ch 28', 'Homework 25 - Ch 25', 'Homework 24 - Ch 24', 'Homework 23 - Ch 23', 'Homework 19 - Ch 19', 'Homework 18 - Ch 18', 'Homework 17 - Ch 17', 'Homework 14 - Ch 14', 'Homework 13 - Ch 13', 'Homework 12 - Ch 12', 'Homework 11 - Ch 11', 'Homework 10 - Ch 10', 'Homework 4 - Ch 4 Version 2', 'Homework 3 - Ch 3', 'Homework 2 - Ch 2', 'Homework 1 - Ch 1', 'Homework 9 - Ch 9', 'Homework 8 - Ch 8', 'Homework 7 - Ch 7', 'Homework 6 - Ch 6', 'Homework 4 - Ch 4']
['*Optional Homework 40 - Ch 40', '*Optional Homework 39 - Ch 39', '*Optional Homework 38 - Ch 38', '*Optional Homework 33', 'Homework 31 - Ch 31', 'Homework 30 - Ch 30', 'Homework 28 - Ch 28', 'Homework 25 - Ch 25', 'Homework 24 - Ch 24', 'Homework 23 - Ch 23', 'Homework 19 - Ch 19', 'Homework 18 - Ch 18', 'Homework 17 - Ch 17', 'Homework 14 - Ch 14', 'Homework 13 - Ch 13', 'Homework 12 - Ch 12', 'Homework 11 - Ch 11', 'Homework 10 - Ch 10', 'Homework 4 - Ch 4 Version 2', 'Homework 3 - Ch 3', 'Homework 2 - Ch 2', 'Homework 1 - Ch 1', 'Homework 9 - Ch 9', 'Homework 8 - Ch 8', 'Homework 7 - Ch 7', 'Homework 6 - Ch 6', 'Homework 4 - Ch 4']
*Optional Homework 40 - Ch 40
*Optional Homework 39 - Ch 39
*Optional Homework 38 - Ch 38
*Optional Homework 33
Homework 31 - Ch 31
Homework 30 - Ch 30
Homework 28 - Ch 28
Homework 25 - Ch 25
Homework 24 - Ch 24
Homework 23 - Ch 23
Homework 19 - Ch 19
Homework 18 - Ch 18
Homework 17 - Ch 17
Homework 14 - Ch 14
Homework 13 - Ch 13
Homework 12 - Ch 12
Homework 11 - Ch 11
Homework 10 - Ch 10
Homework 4 - Ch 4 Version 2
Homework 3 - Ch 3
Homework 2 - Ch 2
Homework 1 - Ch 1
Homework 9 - Ch 9
Homework 8 - Ch 8
Homework 7 - Ch 7
Homework 6 - Ch 6
Homework 4 - Ch 4

In [12]:
assignd = match_list(wp_assigns, no_pts_D2L_assigns)

*Optional Homework 40 - Ch 40  =  Homework 1 - Ch 1      % match = 86
*Optional Homework 39 - Ch 39  =  Homework 1 - Ch 1      % match = 86
*Optional Homework 38 - Ch 38  =  Homework 1 - Ch 1      % match = 86
*Optional Homework 33  =  Homework 1 - Ch 1      % match = 72
Homework 31 - Ch 31  =  Homework 31 - Ch 31      % match = 100
Homework 30 - Ch 30  =  Homework 30 - Ch 30      % match = 100
Homework 28 - Ch 28  =  Homework 28 - Ch 28      % match = 100
Homework 25 - Ch 25  =  Homework 25 - Ch 25      % match = 100
Homework 24 - Ch 24  =  Homework 24 - Ch 24      % match = 100
Homework 23 - Ch 23  =  Homework 23 - Ch 23      % match = 100
Homework 19 - Ch 19  =  Homework 19 - Ch 19      % match = 100
Homework 18 - Ch 18  =  Homework 18 - Ch 18      % match = 100
Homework 17 - Ch 17  =  Homework 17 - Ch 17      % match = 100
Homework 14 - Ch 14  =  Homework 14 - Ch 14      % match = 100
Homework 13 - Ch 13  =  Homework 13 - Ch 13      % match = 100
Homework 12 - Ch 12  =  Homework 12 - Ch 12      % match = 100
Homework 11 - Ch 11  =  Homework 11 - Ch 11      % match = 100
Homework 10 - Ch 10  =  Homework 10 - Ch 10      % match = 100
Homework 4 - Ch 4 Version 2  =  Homework 4  - Ch 4 Version 2      % match = 98
Homework 3 - Ch 3  =  Homework 3 - Ch 3      % match = 100
Homework 2 - Ch 2  =  Homework 2 - Ch 2      % match = 100
Homework 1 - Ch 1  =  Homework 1 - Ch 1      % match = 100
Homework 9 - Ch 9  =  Homework 9 - Ch 9      % match = 100
Homework 8 - Ch 8  =  Homework 8 - Ch 8      % match = 100
Homework 7 - Ch 7  =  Homework 7 - Ch 7      % match = 100
Homework 6 - Ch 6  =  Homework 6 - Ch 6      % match = 100
Homework 4 - Ch 4  =  Homework 4 - Ch 4      % match = 100

In [14]:
wp_assigns

['*Optional Homework 40 - Ch 40',
 '*Optional Homework 39 - Ch 39',
 '*Optional Homework 38 - Ch 38',
 '*Optional Homework 33',
 'Homework 31 - Ch 31',
 'Homework 30 - Ch 30',
 'Homework 28 - Ch 28',
 'Homework 25 - Ch 25',
 'Homework 24 - Ch 24',
 'Homework 23 - Ch 23',
 'Homework 19 - Ch 19',
 'Homework 18 - Ch 18',
 'Homework 17 - Ch 17',
 'Homework 14 - Ch 14',
 'Homework 13 - Ch 13',
 'Homework 12 - Ch 12',
 'Homework 11 - Ch 11',
 'Homework 10 - Ch 10',
 'Homework 4 - Ch 4 Version 2',
 'Homework 3 - Ch 3',
 'Homework 2 - Ch 2',
 'Homework 1 - Ch 1',
 'Homework 9 - Ch 9',
 'Homework 8 - Ch 8',
 'Homework 7 - Ch 7',
 'Homework 6 - Ch 6',
 'Homework 4 - Ch 4']

In [22]:
#wp_assigns_no_start = if 'Total Points Available' in wp_names: wp_names.remove('Total Points Available')
wp_assigns = [ a for a in wp_assigns if '*' not in a]
#x for x in l if "2" not in x

In [23]:
wp_assigns

['Homework 31 - Ch 31',
 'Homework 30 - Ch 30',
 'Homework 28 - Ch 28',
 'Homework 25 - Ch 25',
 'Homework 24 - Ch 24',
 'Homework 23 - Ch 23',
 'Homework 19 - Ch 19',
 'Homework 18 - Ch 18',
 'Homework 17 - Ch 17',
 'Homework 14 - Ch 14',
 'Homework 13 - Ch 13',
 'Homework 12 - Ch 12',
 'Homework 11 - Ch 11',
 'Homework 10 - Ch 10',
 'Homework 4 - Ch 4 Version 2',
 'Homework 3 - Ch 3',
 'Homework 2 - Ch 2',
 'Homework 1 - Ch 1',
 'Homework 9 - Ch 9',
 'Homework 8 - Ch 8',
 'Homework 7 - Ch 7',
 'Homework 6 - Ch 6',
 'Homework 4 - Ch 4']

In [24]:
assignd = match_list(wp_assigns, D2L_assigns)

Homework 31 - Ch 31  =  Homework 31 - Ch 31 Points Grade       % match = 90
Homework 30 - Ch 30  =  Homework 30 - Ch 30 Points Grade       % match = 90
Homework 28 - Ch 28  =  Homework 28 - Ch 28 Points Grade       % match = 90
Homework 25 - Ch 25  =  Homework 25 - Ch 25 Points Grade       % match = 90
Homework 24 - Ch 24  =  Homework 24 - Ch 24 Points Grade       % match = 90
Homework 23 - Ch 23  =  Homework 23 - Ch 23 Points Grade       % match = 90
Homework 19 - Ch 19  =  Homework 19 - Ch 19 Points Grade       % match = 90
Homework 18 - Ch 18  =  Homework 18 - Ch 18 Points Grade       % match = 90
Homework 17 - Ch 17  =  Homework 17 - Ch 17 Points Grade       % match = 90
Homework 14 - Ch 14  =  Homework 14 - Ch 14 Points Grade       % match = 90
Homework 13 - Ch 13  =  Homework 13 - Ch 13 Points Grade       % match = 90
Homework 12 - Ch 12  =  Homework 12 - Ch 12 Points Grade       % match = 90
Homework 11 - Ch 11  =  Homework 11 - Ch 11 Points Grade       % match = 90
Homework 10 - Ch 10  =  Homework 10 - Ch 10 Points Grade       % match = 90
Homework 4 - Ch 4 Version 2  =  Homework 4  - Ch 4 Version 2 Points Grade       % match = 86
Homework 3 - Ch 3  =  Homework 3 - Ch 3 Points Grade       % match = 90
Homework 2 - Ch 2  =  Homework 2 - Ch 2 Points Grade       % match = 90
Homework 1 - Ch 1  =  Homework 1 - Ch 1 Points Grade       % match = 90
Homework 9 - Ch 9  =  Homework 9 - Ch 9 Points Grade       % match = 90
Homework 8 - Ch 8  =  Homework 8 - Ch 8 Points Grade       % match = 90
Homework 7 - Ch 7  =  Homework 7 - Ch 7 Points Grade       % match = 90
Homework 6 - Ch 6  =  Homework 6 - Ch 6 Points Grade       % match = 90
Homework 4 - Ch 4  =  Homework 4 - Ch 4 Points Grade       % match = 90

In [25]:
UserIDdict = extract_D2L_OrgIDs(D2L_csv)

ian.dalton  :  G00799208
chris.kristensen  :  G01133753
collin.klas  :  G01169411
rudy.avalon  :  G01691840
titus.wilburn  :  G01918139
matthew.harvey  :  G02449676
robertc.mulkey  :  G02680154
nestor.robles  :  G03413564
alfredo.olverachavez  :  G03455396
oscar.cisneros  :  G03497558
sergio.amador  :  G03534118
ryan.reuter1  :  G03540357
andrew.bosak  :  G03555175
nathan.sauve  :  G03557026
gregg.meyer  :  G03567755
ruben.rosalespalma  :  G03579622
gus.hart  :  G03583082
rodolfo.lopezperez  :  G03585054
phu.le4  :  G03609641
kyle.holewinski  :  G03642741
angele.grenier  :  G03646442
alan.manzano  :  G03650575
betsy.quitugua  :  G03660451
sergey.svinsitskiy  :  G03672919
hiep.tang  :  G03693878
matthew.ayer  :  G03737060
kevin.sisavic  :  G03753142
duc.tran7  :  G03762748
ty.fitzgerald  :  G03773862
sirinapa.koseyayothin  :  G03776414
travis.kirchem  :  G03786287
dung.phuong  :  G03798110
richard.sitnik  :  G03813135
sophia.catherick  :  G03818603
mohammed.albeladi  :  G03827779
nayef.alotaibi  :  G03829508
peter.kazarinoff  :  G03830358
christopher.dahlen  :  G03834043
ahmed.mahdi  :  G03836283
joseph.whom  :  G03840827
solomon.reid  :  G03855947
destry.brammer  :  G03875793
nik.stanek  :  G03895549
yahye.egal  :  G03899628
marc.wasserman  :  G03914927
sam.fisher1  :  G03917612
mohammed.alkhaldi3  :  G03925734
chase.zielinski  :  G03930483
corey.eck  :  G03936892

In [32]:
df = pd.read_csv(wp_csv, skipinitialspace=True, skipfooter=2, engine='python')

In [34]:
df = pd.read_csv(wp_csv, skipinitialspace=True, skipfooter=2, engine='python')
pd.set_option("display.max_columns",35)
df.head()

,First Name,Last Name,Email,Course name,Class-section name,Date,Overall Score (%),*Optional Homework 40 - Ch 40,*Optional Homework 39 - Ch 39,*Optional Homework 38 - Ch 38,*Optional Homework 33,Homework 31 - Ch 31,Homework 30 - Ch 30,Homework 28 - Ch 28,Homework 25 - Ch 25,Homework 24 - Ch 24,Homework 23 - Ch 23,Homework 19 - Ch 19,Homework 18 - Ch 18,Homework 17 - Ch 17,Homework 14 - Ch 14,Homework 13 - Ch 13,Homework 12 - Ch 12,Homework 11 - Ch 11,Homework 10 - Ch 10,Homework 4 - Ch 4 Version 2,Homework 3 - Ch 3,Homework 2 - Ch 2,Homework 1 - Ch 1,Homework 9 - Ch 9,Homework 8 - Ch 8,Homework 7 - Ch 7,Homework 6 - Ch 6,Homework 4 - Ch 4
0,MOHAMMED,ALBELADI,albeladima@gmail.com,"Fundamentals of Modern Manufacturing, 6e","CRN 10649, 13487, 10649, 13487",02-01-2018,95%,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,10,11.0,6.0,7.3,5.5,5.0,5.0,15.0,7
1,MOHAMMED,ALKHALDI,mohammed.alkhaldi3@pcc.edu,"Fundamentals of Modern Manufacturing, 6e","CRN 10649, 13487, 10649, 13487",02-01-2018,95%,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,8,11.0,5.0,8.0,6.0,6.0,5.0,15.0,7
2,NAYEF,ALOTAIBI,nayef.alotaibi@pcc.edu,"Fundamentals of Modern Manufacturing, 6e","CRN 10649, 13487, 10649, 13487",02-01-2018,60%,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,0,10.0,4.1,4.3,0.0,4.6,4.0,13.0,6
3,SERGIO,AMADOR,sergio.amador@pcc.edu,"Fundamentals of Modern Manufacturing, 6e","CRN 10649, 13487, 10649, 13487",02-01-2018,92%,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,9,10.0,6.0,8.0,5.0,6.0,5.0,15.0,5
4,RUDY,AVALON,rudy.avalon@pcc.edu,"Fundamentals of Modern Manufacturing, 6e","CRN 10649, 13487, 10649, 13487",02-01-2018,96%,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,9,11.0,6.0,9.0,5.5,6.0,5.0,14.3,6

In [28]:
df = pd.read_csv(D2L_csv)
df.head()

,OrgDefinedId,Username,Last Name,First Name,Email,Section,MachineShop Lab Grade Points Grade <Numeric MaxPoints:100 Weight:100 Category:Lab: Machine Shop CategoryWeight:25>,Lab: Machine Shop Subtotal Numerator,Lab: Machine Shop Subtotal Denominator,3D Printing Safety Quiz Points Grade <Numeric MaxPoints:10 Weight:10 Category:Lab: MakerSpace CategoryWeight:17>,...,Welding Quiz Points Grade <Numeric MaxPoints:5 Weight:454.54545454 Category:In class CategoryWeight:5>,Syllabus Quiz Points Grade <Numeric MaxPoints:1 Weight:90.9090909 Category:In class CategoryWeight:5>,Coefficent of Thermal Expansion Quiz Points Grade <Numeric MaxPoints:4 Weight:363.63636364 Category:In class CategoryWeight:5>,In class Subtotal Numerator,In class Subtotal Denominator,Calculated Final Grade Numerator,Calculated Final Grade Denominator,Adjusted Final Grade Numerator,Adjusted Final Grade Denominator,End-of-Line Indicator
0,#G00799208,#ian.dalton,Dalton,Ian,ian.dalton@pcc.edu,ENGR-262-0-14590 - Manufacturing Processes,NaN,NaN,NaN,NaN,...,NaN,1.0,4.0,5.0,5.0,5.0,5.0,NaN,NaN,#
1,#G01133753,#chris.kristensen,Kristensen,Chris,chris.kristensen@pcc.edu,ENGR-262-0-14589 - Manufacturing Processes,NaN,NaN,NaN,NaN,...,NaN,1.0,4.0,5.0,5.0,13.0,13.0,NaN,NaN,#
2,#G01169411,#collin.klas,Klas,Collin,collin.klas@pcc.edu,ENGR-262-0-10649 - Manufacturing Processes,NaN,NaN,NaN,NaN,...,NaN,1.0,4.0,5.0,5.0,5.0,5.0,NaN,NaN,#
3,#G01691840,#rudy.avalon,Avalon,Rudy,rudy.avalon@pcc.edu,ENGR-262-0-13487 - Manufacturing Processes,NaN,NaN,NaN,NaN,...,NaN,1.0,4.0,5.0,5.0,5.0,5.0,NaN,NaN,#
4,#G01918139,#titus.wilburn,Wilburn,Titus,titus.wilburn@pcc.edu,ENGR-262-0-10649 - Manufacturing Processes,NaN,NaN,NaN,NaN,...,NaN,1.0,3.5,4.5,5.0,4.5,5.0,NaN,NaN,#

In [29]:
df.tail()

,OrgDefinedId,Username,Last Name,First Name,Email,Section,MachineShop Lab Grade Points Grade <Numeric MaxPoints:100 Weight:100 Category:Lab: Machine Shop CategoryWeight:25>,Lab: Machine Shop Subtotal Numerator,Lab: Machine Shop Subtotal Denominator,3D Printing Safety Quiz Points Grade <Numeric MaxPoints:10 Weight:10 Category:Lab: MakerSpace CategoryWeight:17>,...,Welding Quiz Points Grade <Numeric MaxPoints:5 Weight:454.54545454 Category:In class CategoryWeight:5>,Syllabus Quiz Points Grade <Numeric MaxPoints:1 Weight:90.9090909 Category:In class CategoryWeight:5>,Coefficent of Thermal Expansion Quiz Points Grade <Numeric MaxPoints:4 Weight:363.63636364 Category:In class CategoryWeight:5>,In class Subtotal Numerator,In class Subtotal Denominator,Calculated Final Grade Numerator,Calculated Final Grade Denominator,Adjusted Final Grade Numerator,Adjusted Final Grade Denominator,End-of-Line Indicator
44,#G03914927,#marc.wasserman,Wasserman,Marc,marc.wasserman@pcc.edu,ENGR-262-0-14589 - Manufacturing Processes,NaN,NaN,NaN,NaN,...,NaN,1.0,4.0,5.0,5.0,13.0,13.0,NaN,NaN,#
45,#G03917612,#sam.fisher1,Fisher,Sam,sam.fisher1@pcc.edu,ENGR-262-0-14589 - Manufacturing Processes,NaN,NaN,NaN,NaN,...,NaN,1.0,4.0,5.0,5.0,13.0,13.0,NaN,NaN,#
46,#G03925734,#mohammed.alkhaldi3,Alkhaldi,Mohammed,mohammed.alkhaldi3@pcc.edu,ENGR-262-0-13487 - Manufacturing Processes,NaN,NaN,NaN,NaN,...,NaN,0.0,2.0,2.0,5.0,2.0,5.0,NaN,NaN,#
47,#G03930483,#chase.zielinski,Zielinski,Chase,chase.zielinski@pcc.edu,ENGR-262-0-13487 - Manufacturing Processes,NaN,NaN,NaN,NaN,...,NaN,1.0,3.5,4.5,5.0,4.5,5.0,NaN,NaN,#
48,#G03936892,#corey.eck,Eck,Corey,corey.eck@pcc.edu,ENGR-262-0-14589 - Manufacturing Processes,NaN,NaN,NaN,NaN,...,NaN,1.0,4.0,5.0,5.0,13.0,13.0,NaN,NaN,#

In [30]:
pd.get_option("display.max_columns")

20

In [36]:
df = pd.read_csv(wp_csv)
df.head()
df.tail()

,First Name,Last Name,Email,Course name,Class-section name,Date,Overall Score (%),*Optional Homework 40 - Ch 40,*Optional Homework 39 - Ch 39,*Optional Homework 38 - Ch 38,*Optional Homework 33,Homework 31 - Ch 31,Homework 30 - Ch 30,Homework 28 - Ch 28,Homework 25 - Ch 25,Homework 24 - Ch 24,Homework 23 - Ch 23,Homework 19 - Ch 19,Homework 18 - Ch 18,Homework 17 - Ch 17,Homework 14 - Ch 14,Homework 13 - Ch 13,Homework 12 - Ch 12,Homework 11 - Ch 11,Homework 10 - Ch 10,Homework 4 - Ch 4 Version 2,Homework 3 - Ch 3,Homework 2 - Ch 2,Homework 1 - Ch 1,Homework 9 - Ch 9,Homework 8 - Ch 8,Homework 7 - Ch 7,Homework 6 - Ch 6,Homework 4 - Ch 4
43,MARC,WASSERMAN,marc.wasserman@pcc.edu,"Fundamentals of Modern Manufacturing, 6e","CRN 10649, 13487, 10649, 13487",02-01-2018,99%,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,10.0,11.0,6.0,9.0,5.5,6.0,5.0,15.0,7.0
44,JOSEPH,WHOM,joseph.whom@pcc.edu,"Fundamentals of Modern Manufacturing, 6e","CRN 10649, 13487, 10649, 13487",02-01-2018,96%,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,10.0,10.0,6.0,9.0,6.0,6.0,4.5,15.0,6.0
45,TITUS,WILBURN,titus.wilburn@pcc.edu,"Fundamentals of Modern Manufacturing, 6e","CRN 10649, 13487, 10649, 13487",02-01-2018,94%,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,9.0,10.0,6.0,7.5,6.0,6.0,5.0,15.0,6.0
46,CHASE,ZIELINSKI,chase.zielinski@pcc.edu,"Fundamentals of Modern Manufacturing, 6e","CRN 10649, 13487, 10649, 13487",02-01-2018,97%,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,10.0,11.0,6.0,9.0,5.0,6.0,5.0,15.0,6.0
47,Total Points Available,,,,,,,7.0,9.0,9.0,12.0,5.0,3.0,5.0,8.0,6.0,5.0,5.0,9.0,6.0,3.0,6.0,3.0,7.0,4.0,10.0,11.0,6.0,9.0,6.0,6.0,5.0,15.0,7.0

In [38]:
df = pd.read_csv(wp_csv, skipfooter=1, engine='python')
df.tail()

,First Name,Last Name,Email,Course name,Class-section name,Date,Overall Score (%),*Optional Homework 40 - Ch 40,*Optional Homework 39 - Ch 39,*Optional Homework 38 - Ch 38,*Optional Homework 33,Homework 31 - Ch 31,Homework 30 - Ch 30,Homework 28 - Ch 28,Homework 25 - Ch 25,Homework 24 - Ch 24,Homework 23 - Ch 23,Homework 19 - Ch 19,Homework 18 - Ch 18,Homework 17 - Ch 17,Homework 14 - Ch 14,Homework 13 - Ch 13,Homework 12 - Ch 12,Homework 11 - Ch 11,Homework 10 - Ch 10,Homework 4 - Ch 4 Version 2,Homework 3 - Ch 3,Homework 2 - Ch 2,Homework 1 - Ch 1,Homework 9 - Ch 9,Homework 8 - Ch 8,Homework 7 - Ch 7,Homework 6 - Ch 6,Homework 4 - Ch 4
42,DUC,TRAN,duc.tran7@pcc.edu,"Fundamentals of Modern Manufacturing, 6e","CRN 10649, 13487, 10649, 13487",02-01-2018,99%,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,10,11.0,6.0,8.0,6.0,6.0,5.0,15.0,7
43,MARC,WASSERMAN,marc.wasserman@pcc.edu,"Fundamentals of Modern Manufacturing, 6e","CRN 10649, 13487, 10649, 13487",02-01-2018,99%,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,10,11.0,6.0,9.0,5.5,6.0,5.0,15.0,7
44,JOSEPH,WHOM,joseph.whom@pcc.edu,"Fundamentals of Modern Manufacturing, 6e","CRN 10649, 13487, 10649, 13487",02-01-2018,96%,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,10,10.0,6.0,9.0,6.0,6.0,4.5,15.0,6
45,TITUS,WILBURN,titus.wilburn@pcc.edu,"Fundamentals of Modern Manufacturing, 6e","CRN 10649, 13487, 10649, 13487",02-01-2018,94%,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,9,10.0,6.0,7.5,6.0,6.0,5.0,15.0,6
46,CHASE,ZIELINSKI,chase.zielinski@pcc.edu,"Fundamentals of Modern Manufacturing, 6e","CRN 10649, 13487, 10649, 13487",02-01-2018,97%,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,10,11.0,6.0,9.0,5.0,6.0,5.0,15.0,6

In [43]:
df = pd.read_csv(wp_csv, skipfooter=1, engine='python')
df.tail()

,First Name,Last Name,Email,Course name,Class-section name,Date,Overall Score (%),*Optional Homework 40 - Ch 40,*Optional Homework 39 - Ch 39,*Optional Homework 38 - Ch 38,*Optional Homework 33,Homework 31 - Ch 31,Homework 30 - Ch 30,Homework 28 - Ch 28,Homework 25 - Ch 25,Homework 24 - Ch 24,Homework 23 - Ch 23,Homework 19 - Ch 19,Homework 18 - Ch 18,Homework 17 - Ch 17,Homework 14 - Ch 14,Homework 13 - Ch 13,Homework 12 - Ch 12,Homework 11 - Ch 11,Homework 10 - Ch 10,Homework 4 - Ch 4 Version 2,Homework 3 - Ch 3,Homework 2 - Ch 2,Homework 1 - Ch 1,Homework 9 - Ch 9,Homework 8 - Ch 8,Homework 7 - Ch 7,Homework 6 - Ch 6,Homework 4 - Ch 4
42,DUC,TRAN,duc.tran7@pcc.edu,"Fundamentals of Modern Manufacturing, 6e","CRN 10649, 13487, 10649, 13487",02-01-2018,99%,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,10,11.0,6.0,8.0,6.0,6.0,5.0,15.0,7
43,MARC,WASSERMAN,marc.wasserman@pcc.edu,"Fundamentals of Modern Manufacturing, 6e","CRN 10649, 13487, 10649, 13487",02-01-2018,99%,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,10,11.0,6.0,9.0,5.5,6.0,5.0,15.0,7
44,JOSEPH,WHOM,joseph.whom@pcc.edu,"Fundamentals of Modern Manufacturing, 6e","CRN 10649, 13487, 10649, 13487",02-01-2018,96%,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,10,10.0,6.0,9.0,6.0,6.0,4.5,15.0,6
45,TITUS,WILBURN,titus.wilburn@pcc.edu,"Fundamentals of Modern Manufacturing, 6e","CRN 10649, 13487, 10649, 13487",02-01-2018,94%,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,9,10.0,6.0,7.5,6.0,6.0,5.0,15.0,6
46,CHASE,ZIELINSKI,chase.zielinski@pcc.edu,"Fundamentals of Modern Manufacturing, 6e","CRN 10649, 13487, 10649, 13487",02-01-2018,97%,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,10,11.0,6.0,9.0,5.0,6.0,5.0,15.0,6

In [45]:
# remove col4 to col7
df.drop(df.columns[[3, 4, 5, 6]], axis=1, inplace=True)
df.head()

,First Name,Last Name,Email,*Optional Homework 40 - Ch 40,*Optional Homework 39 - Ch 39,*Optional Homework 38 - Ch 38,*Optional Homework 33,Homework 31 - Ch 31,Homework 30 - Ch 30,Homework 28 - Ch 28,Homework 25 - Ch 25,Homework 24 - Ch 24,Homework 23 - Ch 23,Homework 19 - Ch 19,Homework 18 - Ch 18,Homework 17 - Ch 17,Homework 14 - Ch 14,Homework 13 - Ch 13,Homework 12 - Ch 12,Homework 11 - Ch 11,Homework 10 - Ch 10,Homework 4 - Ch 4 Version 2,Homework 3 - Ch 3,Homework 2 - Ch 2,Homework 1 - Ch 1,Homework 9 - Ch 9,Homework 8 - Ch 8,Homework 7 - Ch 7,Homework 6 - Ch 6,Homework 4 - Ch 4
0,MOHAMMED,ALBELADI,albeladima@gmail.com,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,10,11.0,6.0,7.3,5.5,5.0,5.0,15.0,7
1,MOHAMMED,ALKHALDI,mohammed.alkhaldi3@pcc.edu,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,8,11.0,5.0,8.0,6.0,6.0,5.0,15.0,7
2,NAYEF,ALOTAIBI,nayef.alotaibi@pcc.edu,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,0,10.0,4.1,4.3,0.0,4.6,4.0,13.0,6
3,SERGIO,AMADOR,sergio.amador@pcc.edu,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,9,10.0,6.0,8.0,5.0,6.0,5.0,15.0,5
4,RUDY,AVALON,rudy.avalon@pcc.edu,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Not Assigned,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,Grades Not Released,9,11.0,6.0,9.0,5.5,6.0,5.0,14.3,6

In [46]:
df = df.replace('Grades Not Released', ' ', regex=True)  # remove all Grades not replaced cells
df = df.replace('Not Assigned', ' ', regex=True) # remove all not assigned marks
df = df.fillna('')  # fill any NaN cells
df.head()

,First Name,Last Name,Email,*Optional Homework 40 - Ch 40,*Optional Homework 39 - Ch 39,*Optional Homework 38 - Ch 38,*Optional Homework 33,Homework 31 - Ch 31,Homework 30 - Ch 30,Homework 28 - Ch 28,Homework 25 - Ch 25,Homework 24 - Ch 24,Homework 23 - Ch 23,Homework 19 - Ch 19,Homework 18 - Ch 18,Homework 17 - Ch 17,Homework 14 - Ch 14,Homework 13 - Ch 13,Homework 12 - Ch 12,Homework 11 - Ch 11,Homework 10 - Ch 10,Homework 4 - Ch 4 Version 2,Homework 3 - Ch 3,Homework 2 - Ch 2,Homework 1 - Ch 1,Homework 9 - Ch 9,Homework 8 - Ch 8,Homework 7 - Ch 7,Homework 6 - Ch 6,Homework 4 - Ch 4
0,MOHAMMED,ALBELADI,albeladima@gmail.com,,,,,,,,,,,,,,,,,,,10,11.0,6.0,7.3,5.5,5.0,5.0,15.0,7
1,MOHAMMED,ALKHALDI,mohammed.alkhaldi3@pcc.edu,,,,,,,,,,,,,,,,,,,8,11.0,5.0,8.0,6.0,6.0,5.0,15.0,7
2,NAYEF,ALOTAIBI,nayef.alotaibi@pcc.edu,,,,,,,,,,,,,,,,,,,0,10.0,4.1,4.3,0.0,4.6,4.0,13.0,6
3,SERGIO,AMADOR,sergio.amador@pcc.edu,,,,,,,,,,,,,,,,,,,9,10.0,6.0,8.0,5.0,6.0,5.0,15.0,5
4,RUDY,AVALON,rudy.avalon@pcc.edu,,,,,,,,,,,,,,,,,,,9,11.0,6.0,9.0,5.5,6.0,5.0,14.3,6

In [51]:
col_headers = df.columns.values.tolist()
col_headers_with_star_lst = [h for h in col_headers if '*' in h]
col_headers_with_star_lst

['*Optional Homework 40 - Ch 40',
 '*Optional Homework 39 - Ch 39',
 '*Optional Homework 38 - Ch 38',
 '*Optional Homework 33']

In [57]:
df.drop(col_headers_with_star_lst, axis=1, inplace=True)
df.head()

,First Name,Last Name,Email,Homework 31 - Ch 31,Homework 30 - Ch 30,Homework 28 - Ch 28,Homework 25 - Ch 25,Homework 24 - Ch 24,Homework 23 - Ch 23,Homework 19 - Ch 19,Homework 18 - Ch 18,Homework 17 - Ch 17,Homework 14 - Ch 14,Homework 13 - Ch 13,Homework 12 - Ch 12,Homework 11 - Ch 11,Homework 10 - Ch 10,Homework 4 - Ch 4 Version 2,Homework 3 - Ch 3,Homework 2 - Ch 2,Homework 1 - Ch 1,Homework 9 - Ch 9,Homework 8 - Ch 8,Homework 7 - Ch 7,Homework 6 - Ch 6,Homework 4 - Ch 4
0,MOHAMMED,ALBELADI,albeladima@gmail.com,,,,,,,,,,,,,,,10,11.0,6.0,7.3,5.5,5.0,5.0,15.0,7
1,MOHAMMED,ALKHALDI,mohammed.alkhaldi3@pcc.edu,,,,,,,,,,,,,,,8,11.0,5.0,8.0,6.0,6.0,5.0,15.0,7
2,NAYEF,ALOTAIBI,nayef.alotaibi@pcc.edu,,,,,,,,,,,,,,,0,10.0,4.1,4.3,0.0,4.6,4.0,13.0,6
3,SERGIO,AMADOR,sergio.amador@pcc.edu,,,,,,,,,,,,,,,9,10.0,6.0,8.0,5.0,6.0,5.0,15.0,5
4,RUDY,AVALON,rudy.avalon@pcc.edu,,,,,,,,,,,,,,,9,11.0,6.0,9.0,5.5,6.0,5.0,14.3,6

In [60]:
df.insert(0, 'WP_name', df['First Name']+ ' ' + df['Last Name'])

In [61]:
df.head()

,WP_name,wp_name,First Name,Last Name,Email,Homework 31 - Ch 31,Homework 30 - Ch 30,Homework 28 - Ch 28,Homework 25 - Ch 25,Homework 24 - Ch 24,Homework 23 - Ch 23,Homework 19 - Ch 19,Homework 18 - Ch 18,Homework 17 - Ch 17,Homework 14 - Ch 14,Homework 13 - Ch 13,Homework 12 - Ch 12,Homework 11 - Ch 11,Homework 10 - Ch 10,Homework 4 - Ch 4 Version 2,Homework 3 - Ch 3,Homework 2 - Ch 2,Homework 1 - Ch 1,Homework 9 - Ch 9,Homework 8 - Ch 8,Homework 7 - Ch 7,Homework 6 - Ch 6,Homework 4 - Ch 4
0,MOHAMMED ALBELADI,MOHAMMEDALBELADI,MOHAMMED,ALBELADI,albeladima@gmail.com,,,,,,,,,,,,,,,10,11.0,6.0,7.3,5.5,5.0,5.0,15.0,7
1,MOHAMMED ALKHALDI,MOHAMMEDALKHALDI,MOHAMMED,ALKHALDI,mohammed.alkhaldi3@pcc.edu,,,,,,,,,,,,,,,8,11.0,5.0,8.0,6.0,6.0,5.0,15.0,7
2,NAYEF ALOTAIBI,NAYEFALOTAIBI,NAYEF,ALOTAIBI,nayef.alotaibi@pcc.edu,,,,,,,,,,,,,,,0,10.0,4.1,4.3,0.0,4.6,4.0,13.0,6
3,SERGIO AMADOR,SERGIOAMADOR,SERGIO,AMADOR,sergio.amador@pcc.edu,,,,,,,,,,,,,,,9,10.0,6.0,8.0,5.0,6.0,5.0,15.0,5
4,RUDY AVALON,RUDYAVALON,RUDY,AVALON,rudy.avalon@pcc.edu,,,,,,,,,,,,,,,9,11.0,6.0,9.0,5.5,6.0,5.0,14.3,6

In [62]:
df.drop('wp_name', axis=1, inplace=True)

In [63]:
df

,WP_name,First Name,Last Name,Email,Homework 31 - Ch 31,Homework 30 - Ch 30,Homework 28 - Ch 28,Homework 25 - Ch 25,Homework 24 - Ch 24,Homework 23 - Ch 23,Homework 19 - Ch 19,Homework 18 - Ch 18,Homework 17 - Ch 17,Homework 14 - Ch 14,Homework 13 - Ch 13,Homework 12 - Ch 12,Homework 11 - Ch 11,Homework 10 - Ch 10,Homework 4 - Ch 4 Version 2,Homework 3 - Ch 3,Homework 2 - Ch 2,Homework 1 - Ch 1,Homework 9 - Ch 9,Homework 8 - Ch 8,Homework 7 - Ch 7,Homework 6 - Ch 6,Homework 4 - Ch 4
0,MOHAMMED ALBELADI,MOHAMMED,ALBELADI,albeladima@gmail.com,,,,,,,,,,,,,,,10,11.0,6.0,7.3,5.5,5.0,5.0,15.0,7
1,MOHAMMED ALKHALDI,MOHAMMED,ALKHALDI,mohammed.alkhaldi3@pcc.edu,,,,,,,,,,,,,,,8,11.0,5.0,8.0,6.0,6.0,5.0,15.0,7
2,NAYEF ALOTAIBI,NAYEF,ALOTAIBI,nayef.alotaibi@pcc.edu,,,,,,,,,,,,,,,0,10.0,4.1,4.3,0.0,4.6,4.0,13.0,6
3,SERGIO AMADOR,SERGIO,AMADOR,sergio.amador@pcc.edu,,,,,,,,,,,,,,,9,10.0,6.0,8.0,5.0,6.0,5.0,15.0,5
4,RUDY AVALON,RUDY,AVALON,rudy.avalon@pcc.edu,,,,,,,,,,,,,,,9,11.0,6.0,9.0,5.5,6.0,5.0,14.3,6
5,MATTHEW AYER,MATTHEW,AYER,matthew.ayer@pcc.edu,,,,,,,,,,,,,,,10,11.0,6.0,9.0,6.0,6.0,5.0,15.0,7
6,ANDREW BOSAK,ANDREW,BOSAK,andrewbosak1@gmail.com,,,,,,,,,,,,,,,9,10.0,6.0,7.0,5.0,6.0,5.0,14.0,7
7,DESTRY BRAMMER,DESTRY,BRAMMER,destry.brammer@pcc.edu,,,,,,,,,,,,,,,8,10.0,4.6,8.0,4.0,5.5,4.3,14.0,7
8,SOPHIA CATHERICK,SOPHIA,CATHERICK,sophia.catherick@pcc.edu,,,,,,,,,,,,,,,9,10.0,5.6,7.0,5.5,6.0,3.0,14.0,5
9,OSCAR CISNEROS,OSCAR,CISNEROS,oscar_yn2211@yahoo.com,,,,,,,,,,,,,,,9,10.0,6.0,7.0,5.5,6.0,3.5,15.0,7
10,CHRISTOPHER DAHLEN,CHRISTOPHER,DAHLEN,christopher.dahlen@pcc.edu,,,,,,,,,,,,,,,10,9.0,3.0,3.5,5.0,5.0,4.3,13.0,6
11,IAN DALTON,IAN,DALTON,ian.dalton@pcc.edu,,,,,,,,,,,,,,,9,11.0,5.3,9.0,5.5,6.0,5.0,15.0,7
12,COREY ECK,COREY,ECK,corey.eck@pcc.edu,,,,,,,,,,,,,7,4,9,11.0,6.0,9.0,5.5,6.0,4.0,15.0,7
13,YAHYE EGAL,YAHYE,EGAL,yahye.egal@pcc.edu,,,,,,,,,,,,,,,10,11.0,6.0,9.0,5.0,6.0,5.0,15.0,7
14,SAM FISHER,SAM,FISHER,sam.fisher1@pcc.edu,,,,,,,,,,,,,,,9,10.0,6.0,8.5,5.0,6.0,5.0,14.0,6
15,TY FITZGERALD,TY,FITZGERALD,tylise.fitzgerald@gmail.com,,,,,,,,,,,,,,,10,10.0,6.0,9.0,5.5,6.0,5.0,15.0,7
16,ANGELE GRENIER,ANGELE,GRENIER,angele.grenier@pcc.edu,,,,,,,,,,,,,,,10,10.0,6.0,8.5,5.5,6.0,5.0,14.5,7
17,GUS HART,GUS,HART,gus.hart@pcc.edu,,,,,,,,,,,,,,,8,11.0,6.0,8.0,5.5,6.0,4.5,15.0,7
18,MATTHEW HARVEY,MATTHEW,HARVEY,matthew.harvey@pcc.edu,,,,,,,,,,,,,,,10,11.0,3.3,7.5,5.5,6.0,5.0,15.0,7
19,KYLE HOLEWINSKI,KYLE,HOLEWINSKI,kyle.holewinski@pcc.edu,,,,,,,,,,,,,,,10,11.0,6.0,9.0,5.5,6.0,5.0,15.0,4
20,TRAVIS KIRCHEM,TRAVIS,KIRCHEM,travis.kirchem@pcc.edu,,,,,,,,,,,,,,,10,10.0,6.0,8.0,5.5,6.0,5.0,15.0,7
21,COLLIN KLAS,COLLIN,KLAS,collin.klas@pcc.edu,,,,,,,,,,,,,,,10,11.0,5.0,8.5,4.5,5.0,5.0,13.0,6
22,SIRINAPA KOSEYAYOTHIN,SIRINAPA,KOSEYAYOTHIN,sirinapa.koseyayothin@pcc.edu,,,,,,,,,,,,,,,8,10.0,6.0,7.3,5.5,5.0,3.0,15.0,7
23,CHRIS KRISTENSEN,CHRIS,KRISTENSEN,chris.kristensen@pcc.edu,,,,,,,,,,,,,,,10,11.0,6.0,8.0,5.5,5.0,5.0,14.0,7
24,PHU LE,PHU,LE,phule149@yahoo.com,,,,,,,,,,,,,,,8,10.0,6.0,7.0,5.0,5.6,5.0,13.0,7
25,RODOLFO LOPEZ PEREZ,RODOLFO,LOPEZ PEREZ,rodolfo.lopezperez@pcc.edu,,,,,,,,,,,,,,,10,10.0,4.6,4.3,4.5,6.0,5.0,13.3,7
26,AHMED MAHDI,AHMED,MAHDI,ahmed.mahdi@pcc.edu,,,,,,,,,,,,,,,9,10.0,6.0,8.0,6.0,6.0,5.0,14.0,7
27,ALAN MANZANO,ALAN,MANZANO,alan.manzano@pcc.edu,,,,,,,,,,,,,,,6,11.0,5.1,6.5,3.0,6.0,5.0,8.5,6
28,ROBERT MULKEY,ROBERT,MULKEY,robertc.mulkey@pcc.edu,,,,,,,,,,,,,,4,10,11.0,5.6,9.0,5.5,6.0,5.0,15.0,7
29,ALFREDO OLVERA CHAVEZ,ALFREDO,OLVERA CHAVEZ,alfredo.olverachavez@pcc.edu,,,,,,,,,,,,3,7,4,8,11.0,5.3,7.0,5.5,6.0,5.0,15.0,6
30,DUNG PHUONG,DUNG,PHUONG,dung.phuong@pcc.edu,,,,,,,,,,,,,,,9,10.0,4.4,8.0,5.0,5.0,5.0,13.3,6
31,BETSY RUTH QUITUGUA,BETSY RUTH,QUITUGUA,betsy.quitugua@pcc.edu,,,,,,,,,,,,,,,10,11.0,6.0,9.0,5.5,6.0,5.0,15.0,6
32,SOLOMON REID,SOLOMON,REID,solomon.reid@pcc.edu,,,,,,,,,,,,,,,10,11.0,6.0,9.0,5.5,6.0,5.0,15.0,7
33,RYAN REUTER,RYAN,REUTER,ryan.reuter1@pcc.edu,,,,,,,,,,,,,,,9,10.0,5.0,8.5,6.0,6.0,5.0,15.0,7
34,NESTOR ROBLES,NESTOR,ROBLES,nestor.robles@pcc.edu,,,,,,,,,,,,,,,9,11.0,6.0,5.5,5.5,6.0,5.0,15.0,7
35,RUBEN ROSALES PALMA,RUBEN,ROSALES PALMA,ruben.rosalespalma@pcc.edu,,,,,,,,,,,,,,,8,11.0,4.6,7.3,5.5,6.0,5.0,15.0,7
36,NATHAN SAUVE,NATHAN,SAUVE,nathan.sauve@gmail.com,,,,,,,,,,,,,,,10,11.0,6.0,8.0,5.5,6.0,5.0,14.3,7
37,KEVIN SISAVIC,KEVIN,SISAVIC,kevin.sisavic@pcc.edu,,,,,,,,,,,,,,,10,11.0,6.0,9.0,6.0,6.0,5.0,15.0,7
38,RICHARD SITNIK,RICHARD,SITNIK,richard.sitnik@pcc.edu,,,,,,,,,,,,,,,9,10.0,6.0,9.0,5.5,5.0,5.0,15.0,6
39,NIKOLAS STANEK,NIKOLAS,STANEK,nik.stanek@pcc.edu,,,,,,,,,,,,,,,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
40,SERGEY SVINSITSKIY,SERGEY,SVINSITSKIY,sergey.svinsitskiy@pcc.edu,,,,,,,,,,,,,,,10,10.0,6.0,8.5,6.0,6.0,5.0,15.0,7
41,HIEP TANG,HIEP,TANG,hiep.tang@pcc.edu,,,,,,,,,,,,,,,10,11.0,6.0,8.0,5.5,6.0,5.0,15.0,7
42,DUC TRAN,DUC,TRAN,duc.tran7@pcc.edu,,,,,,,,,,,,,,,10,11.0,6.0,8.0,6.0,6.0,5.0,15.0,7
43,MARC WASSERMAN,MARC,WASSERMAN,marc.wasserman@pcc.edu,,,,,,,,,,,,,,,10,11.0,6.0,9.0,5.5,6.0,5.0,15.0,7
44,JOSEPH WHOM,JOSEPH,WHOM,joseph.whom@pcc.edu,,,,,,,,,,,,,,,10,10.0,6.0,9.0,6.0,6.0,4.5,15.0,6
45,TITUS WILBURN,TITUS,WILBURN,titus.wilburn@pcc.edu,,,,,,,,,,,,,,,9,10.0,6.0,7.5,6.0,6.0,5.0,15.0,6
46,CHASE ZIELINSKI,CHASE,ZIELINSKI,chase.zielinski@pcc.edu,,,,,,,,,,,,,,,10,11.0,6.0,9.0,5.0,6.0,5.0,15.0,6

In [64]:
df.insert(0, 'D2L_name', df['WP_name'].map(named))
df.head()

,D2L_name,WP_name,First Name,Last Name,Email,Homework 31 - Ch 31,Homework 30 - Ch 30,Homework 28 - Ch 28,Homework 25 - Ch 25,Homework 24 - Ch 24,Homework 23 - Ch 23,Homework 19 - Ch 19,Homework 18 - Ch 18,Homework 17 - Ch 17,Homework 14 - Ch 14,Homework 13 - Ch 13,Homework 12 - Ch 12,Homework 11 - Ch 11,Homework 10 - Ch 10,Homework 4 - Ch 4 Version 2,Homework 3 - Ch 3,Homework 2 - Ch 2,Homework 1 - Ch 1,Homework 9 - Ch 9,Homework 8 - Ch 8,Homework 7 - Ch 7,Homework 6 - Ch 6,Homework 4 - Ch 4
0,NaN,MOHAMMED ALBELADI,MOHAMMED,ALBELADI,albeladima@gmail.com,,,,,,,,,,,,,,,10,11.0,6.0,7.3,5.5,5.0,5.0,15.0,7
1,NaN,MOHAMMED ALKHALDI,MOHAMMED,ALKHALDI,mohammed.alkhaldi3@pcc.edu,,,,,,,,,,,,,,,8,11.0,5.0,8.0,6.0,6.0,5.0,15.0,7
2,NaN,NAYEF ALOTAIBI,NAYEF,ALOTAIBI,nayef.alotaibi@pcc.edu,,,,,,,,,,,,,,,0,10.0,4.1,4.3,0.0,4.6,4.0,13.0,6
3,NaN,SERGIO AMADOR,SERGIO,AMADOR,sergio.amador@pcc.edu,,,,,,,,,,,,,,,9,10.0,6.0,8.0,5.0,6.0,5.0,15.0,5
4,NaN,RUDY AVALON,RUDY,AVALON,rudy.avalon@pcc.edu,,,,,,,,,,,,,,,9,11.0,6.0,9.0,5.5,6.0,5.0,14.3,6

In [65]:
named

{'AHMED MAHDI': 'ahmed.mahdi',
 'ALAN MANZANO': 'alan.manzano',
 'ALFREDO OLVERA CHAVEZ': 'alfredo.olverachavez',
 'ANDREW BOSAK': 'andrew.bosak',
 'ANGELE GRENIER': 'angele.grenier',
 'BETSY RUTH QUITUGUA': 'betsy.quitugua',
 'CHASE ZIELINSKI': 'chase.zielinski',
 'CHRIS KRISTENSEN': 'chris.kristensen',
 'CHRISTOPHER DAHLEN': 'christopher.dahlen',
 'COLLIN KLAS': 'collin.klas',
 'COREY ECK': 'corey.eck',
 'DESTRY BRAMMER': 'destry.brammer',
 'DUC TRAN': 'duc.tran7',
 'DUNG PHUONG': 'dung.phuong',
 'GUS HART': 'gus.hart',
 'HIEP TANG': 'hiep.tang',
 'IAN DALTON': 'ian.dalton',
 'JOSEPH WHOM': 'joseph.whom',
 'KEVIN SISAVIC': 'kevin.sisavic',
 'KYLE HOLEWINSKI': 'kyle.holewinski',
 'MARC WASSERMAN': 'marc.wasserman',
 'MATTHEW AYER': 'matthew.ayer',
 'MATTHEW HARVEY': 'matthew.harvey',
 'MOHAMMED ALBELADI': 'mohammed.albeladi',
 'MOHAMMED ALKHALDI': 'mohammed.alkhaldi3',
 'NATHAN SAUVE': 'nathan.sauve',
 'NAYEF ALOTAIBI': 'nayef.alotaibi',
 'NESTOR ROBLES': 'nestor.robles',
 'NIKOLAS STANEK': 'nik.stanek',
 'OSCAR CISNEROS': 'oscar.cisneros',
 'PHU LE': 'phu.le4',
 'RICHARD SITNIK': 'richard.sitnik',
 'ROBERT MULKEY': 'robertc.mulkey',
 'RODOLFO LOPEZ PEREZ': 'rodolfo.lopezperez',
 'RUBEN ROSALES PALMA': 'ruben.rosalespalma',
 'RUDY AVALON': 'rudy.avalon',
 'RYAN REUTER': 'ryan.reuter1',
 'SAM FISHER': 'sam.fisher1',
 'SERGEY SVINSITSKIY': 'sergey.svinsitskiy',
 'SERGIO AMADOR': 'sergio.amador',
 'SIRINAPA KOSEYAYOTHIN': 'sirinapa.koseyayothin',
 'SOLOMON REID': 'solomon.reid',
 'SOPHIA CATHERICK': 'sophia.catherick',
 'TITUS WILBURN': 'titus.wilburn',
 'TRAVIS KIRCHEM': 'travis.kirchem',
 'TY FITZGERALD': 'ty.fitzgerald',
 'YAHYE EGAL': 'yahye.egal'}

In [66]:
df['WP_name'].replace(named, inplace=True)
df.head()

,D2L_name,WP_name,First Name,Last Name,Email,Homework 31 - Ch 31,Homework 30 - Ch 30,Homework 28 - Ch 28,Homework 25 - Ch 25,Homework 24 - Ch 24,Homework 23 - Ch 23,Homework 19 - Ch 19,Homework 18 - Ch 18,Homework 17 - Ch 17,Homework 14 - Ch 14,Homework 13 - Ch 13,Homework 12 - Ch 12,Homework 11 - Ch 11,Homework 10 - Ch 10,Homework 4 - Ch 4 Version 2,Homework 3 - Ch 3,Homework 2 - Ch 2,Homework 1 - Ch 1,Homework 9 - Ch 9,Homework 8 - Ch 8,Homework 7 - Ch 7,Homework 6 - Ch 6,Homework 4 - Ch 4
0,NaN,MOHAMMED ALBELADI,MOHAMMED,ALBELADI,albeladima@gmail.com,,,,,,,,,,,,,,,10,11.0,6.0,7.3,5.5,5.0,5.0,15.0,7
1,NaN,MOHAMMED ALKHALDI,MOHAMMED,ALKHALDI,mohammed.alkhaldi3@pcc.edu,,,,,,,,,,,,,,,8,11.0,5.0,8.0,6.0,6.0,5.0,15.0,7
2,NaN,NAYEF ALOTAIBI,NAYEF,ALOTAIBI,nayef.alotaibi@pcc.edu,,,,,,,,,,,,,,,0,10.0,4.1,4.3,0.0,4.6,4.0,13.0,6
3,NaN,SERGIO AMADOR,SERGIO,AMADOR,sergio.amador@pcc.edu,,,,,,,,,,,,,,,9,10.0,6.0,8.0,5.0,6.0,5.0,15.0,5
4,NaN,RUDY AVALON,RUDY,AVALON,rudy.avalon@pcc.edu,,,,,,,,,,,,,,,9,11.0,6.0,9.0,5.5,6.0,5.0,14.3,6

In [67]:
df.drop('D2L_name', axis=1, inplace=True)

In [68]:
df.head()

,WP_name,First Name,Last Name,Email,Homework 31 - Ch 31,Homework 30 - Ch 30,Homework 28 - Ch 28,Homework 25 - Ch 25,Homework 24 - Ch 24,Homework 23 - Ch 23,Homework 19 - Ch 19,Homework 18 - Ch 18,Homework 17 - Ch 17,Homework 14 - Ch 14,Homework 13 - Ch 13,Homework 12 - Ch 12,Homework 11 - Ch 11,Homework 10 - Ch 10,Homework 4 - Ch 4 Version 2,Homework 3 - Ch 3,Homework 2 - Ch 2,Homework 1 - Ch 1,Homework 9 - Ch 9,Homework 8 - Ch 8,Homework 7 - Ch 7,Homework 6 - Ch 6,Homework 4 - Ch 4
0,MOHAMMED ALBELADI,MOHAMMED,ALBELADI,albeladima@gmail.com,,,,,,,,,,,,,,,10,11.0,6.0,7.3,5.5,5.0,5.0,15.0,7
1,MOHAMMED ALKHALDI,MOHAMMED,ALKHALDI,mohammed.alkhaldi3@pcc.edu,,,,,,,,,,,,,,,8,11.0,5.0,8.0,6.0,6.0,5.0,15.0,7
2,NAYEF ALOTAIBI,NAYEF,ALOTAIBI,nayef.alotaibi@pcc.edu,,,,,,,,,,,,,,,0,10.0,4.1,4.3,0.0,4.6,4.0,13.0,6
3,SERGIO AMADOR,SERGIO,AMADOR,sergio.amador@pcc.edu,,,,,,,,,,,,,,,9,10.0,6.0,8.0,5.0,6.0,5.0,15.0,5
4,RUDY AVALON,RUDY,AVALON,rudy.avalon@pcc.edu,,,,,,,,,,,,,,,9,11.0,6.0,9.0,5.5,6.0,5.0,14.3,6

In [69]:
named

{'AHMED MAHDI': 'ahmed.mahdi',
 'ALAN MANZANO': 'alan.manzano',
 'ALFREDO OLVERA CHAVEZ': 'alfredo.olverachavez',
 'ANDREW BOSAK': 'andrew.bosak',
 'ANGELE GRENIER': 'angele.grenier',
 'BETSY RUTH QUITUGUA': 'betsy.quitugua',
 'CHASE ZIELINSKI': 'chase.zielinski',
 'CHRIS KRISTENSEN': 'chris.kristensen',
 'CHRISTOPHER DAHLEN': 'christopher.dahlen',
 'COLLIN KLAS': 'collin.klas',
 'COREY ECK': 'corey.eck',
 'DESTRY BRAMMER': 'destry.brammer',
 'DUC TRAN': 'duc.tran7',
 'DUNG PHUONG': 'dung.phuong',
 'GUS HART': 'gus.hart',
 'HIEP TANG': 'hiep.tang',
 'IAN DALTON': 'ian.dalton',
 'JOSEPH WHOM': 'joseph.whom',
 'KEVIN SISAVIC': 'kevin.sisavic',
 'KYLE HOLEWINSKI': 'kyle.holewinski',
 'MARC WASSERMAN': 'marc.wasserman',
 'MATTHEW AYER': 'matthew.ayer',
 'MATTHEW HARVEY': 'matthew.harvey',
 'MOHAMMED ALBELADI': 'mohammed.albeladi',
 'MOHAMMED ALKHALDI': 'mohammed.alkhaldi3',
 'NATHAN SAUVE': 'nathan.sauve',
 'NAYEF ALOTAIBI': 'nayef.alotaibi',
 'NESTOR ROBLES': 'nestor.robles',
 'NIKOLAS STANEK': 'nik.stanek',
 'OSCAR CISNEROS': 'oscar.cisneros',
 'PHU LE': 'phu.le4',
 'RICHARD SITNIK': 'richard.sitnik',
 'ROBERT MULKEY': 'robertc.mulkey',
 'RODOLFO LOPEZ PEREZ': 'rodolfo.lopezperez',
 'RUBEN ROSALES PALMA': 'ruben.rosalespalma',
 'RUDY AVALON': 'rudy.avalon',
 'RYAN REUTER': 'ryan.reuter1',
 'SAM FISHER': 'sam.fisher1',
 'SERGEY SVINSITSKIY': 'sergey.svinsitskiy',
 'SERGIO AMADOR': 'sergio.amador',
 'SIRINAPA KOSEYAYOTHIN': 'sirinapa.koseyayothin',
 'SOLOMON REID': 'solomon.reid',
 'SOPHIA CATHERICK': 'sophia.catherick',
 'TITUS WILBURN': 'titus.wilburn',
 'TRAVIS KIRCHEM': 'travis.kirchem',
 'TY FITZGERALD': 'ty.fitzgerald',
 'YAHYE EGAL': 'yahye.egal'}

In [75]:
#df.insert(0, 'D2L_name', df['WP_name'].map(named))
df['WP_name'].replace()

0          MOHAMMED ALBELADI
1          MOHAMMED ALKHALDI
2             NAYEF ALOTAIBI
3              SERGIO AMADOR
4                RUDY AVALON
5               MATTHEW AYER
6               ANDREW BOSAK
7             DESTRY BRAMMER
8           SOPHIA CATHERICK
9             OSCAR CISNEROS
10        CHRISTOPHER DAHLEN
11                IAN DALTON
12                 COREY ECK
13                YAHYE EGAL
14                SAM FISHER
15             TY FITZGERALD
16            ANGELE GRENIER
17                  GUS HART
18            MATTHEW HARVEY
19           KYLE HOLEWINSKI
20            TRAVIS KIRCHEM
21               COLLIN KLAS
22     SIRINAPA KOSEYAYOTHIN
23          CHRIS KRISTENSEN
24                    PHU LE
25       RODOLFO LOPEZ PEREZ
26               AHMED MAHDI
27              ALAN MANZANO
28             ROBERT MULKEY
29     ALFREDO OLVERA CHAVEZ
30               DUNG PHUONG
31       BETSY RUTH QUITUGUA
32              SOLOMON REID
33               RYAN REUTER
34             NESTOR ROBLES
35       RUBEN ROSALES PALMA
36              NATHAN SAUVE
37             KEVIN SISAVIC
38            RICHARD SITNIK
39            NIKOLAS STANEK
40        SERGEY SVINSITSKIY
41                 HIEP TANG
42                  DUC TRAN
43            MARC WASSERMAN
44               JOSEPH WHOM
45             TITUS WILBURN
46           CHASE ZIELINSKI
Name: WP_name, dtype: object

In [76]:
df['WP_name'].replace(named, inplace=True)

In [77]:
df.head()

,D2L_name,WP_name,First Name,Last Name,Email,Homework 31 - Ch 31,Homework 30 - Ch 30,Homework 28 - Ch 28,Homework 25 - Ch 25,Homework 24 - Ch 24,Homework 23 - Ch 23,Homework 19 - Ch 19,Homework 18 - Ch 18,Homework 17 - Ch 17,Homework 14 - Ch 14,Homework 13 - Ch 13,Homework 12 - Ch 12,Homework 11 - Ch 11,Homework 10 - Ch 10,Homework 4 - Ch 4 Version 2,Homework 3 - Ch 3,Homework 2 - Ch 2,Homework 1 - Ch 1,Homework 9 - Ch 9,Homework 8 - Ch 8,Homework 7 - Ch 7,Homework 6 - Ch 6,Homework 4 - Ch 4
0,NaN,MOHAMMED ALBELADI,MOHAMMED,ALBELADI,albeladima@gmail.com,,,,,,,,,,,,,,,10,11.0,6.0,7.3,5.5,5.0,5.0,15.0,7
1,NaN,MOHAMMED ALKHALDI,MOHAMMED,ALKHALDI,mohammed.alkhaldi3@pcc.edu,,,,,,,,,,,,,,,8,11.0,5.0,8.0,6.0,6.0,5.0,15.0,7
2,NaN,NAYEF ALOTAIBI,NAYEF,ALOTAIBI,nayef.alotaibi@pcc.edu,,,,,,,,,,,,,,,0,10.0,4.1,4.3,0.0,4.6,4.0,13.0,6
3,NaN,SERGIO AMADOR,SERGIO,AMADOR,sergio.amador@pcc.edu,,,,,,,,,,,,,,,9,10.0,6.0,8.0,5.0,6.0,5.0,15.0,5
4,NaN,RUDY AVALON,RUDY,AVALON,rudy.avalon@pcc.edu,,,,,,,,,,,,,,,9,11.0,6.0,9.0,5.5,6.0,5.0,14.3,6